{{> loader}}
{{> header}}

<main class="page_">

    <section class="page-banner error_404">
        <div class="bg_">
            <picture>
                <source srcset="{{assets}}/images/pass_banner.jpg" type="image/jpg">
                <img src="{{assets}}/images/pass_banner.jpg" loading="lazy">
            </picture>
        </div>

        <div class="banner_content">
            <div class="container">
                <div class="content_">
                    <h1><span>404</span></h1>
                    <h4>We couldn't find this page.</h4>
                    <div class="btn_group">
                        <a href="#" class="btn_ white_"><span>Back To Home</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>

{{> footer}}
{{> script-page}}

