{{> loader}}
{{> header}}

<main class="page_">

    <div class="breadcrumb_wrapper">
        <div class="container">
            <ul class="breadcrumb_">
                <li><a href="{{menuLink 'index'}}">الصفحة الرئيسية</a></li>
                <li><span>لوحة القيادة</span></li>
            </ul>   
        </div>
    </div>

    <section class="section_">
        <div class="container">

            <div class="title_wrapper have_margin between_">
                <div class="section_title">
                    <h2><span>لوحة القيادة</span></h2>
                </div>

                <ul class="icon_link_list">
                    <li><a href="{{menuLink 'index'}}"><i class="icon-back"></i></a></li>
                </ul>
            </div>

            <div class="dashboard_wrapper t_animation d_2" data-tab>
                <div class="dashboard_tab">
                    <div class="d_item"><a href="#" class="link_" data-tab-link="tab1"><i class="icon icon-fav-stroke"></i><span>مشاركة</span></a></div>
                    <div class="d_item"><a href="#" class="link_" data-tab-link="tab2"><i class="icon icon-paper"></i><span>المفضلة</span></a></div>
                    <div class="d_item"><a href="#" class="link_" data-tab-link="tab3"><i class="icon icon-settings"></i><span>إعدادات</span></a></div>
                </div>

                <div class="dashboard_content" data-tab-id="tab1">
                    <div class="dash_table">
                        <table>
                            <tbody>
                                <tr>
                                    <td><div class="no_">01</div></td>
                                    <td><div class="text_">قانون اتحادي رقم (51) لسنة 2006 في شأن مكافحة جرائم الاتجار بالبشر</div></td>
                                    <td><button class="fav_button"><i class="icon icon-fav-fill"></i></button></td>
                                </tr>
                                 <tr>
                                    <td><div class="no_">02</div></td>
                                    <td><div class="text_">قانون اتحادي رقم (51) لسنة 2006 في شأن مكافحة جرائم الاتجار بالبشر</div></td>
                                    <td><button class="fav_button"><i class="icon icon-fav-fill"></i></button></td>
                                </tr>
                                 <tr>
                                    <td><div class="no_">03</div></td>
                                    <td><div class="text_">قانون اتحادي رقم (51) لسنة 2006 في شأن مكافحة جرائم الاتجار بالبشر</div></td>
                                    <td><button class="fav_button"><i class="icon icon-fav-fill"></i></button></td>
                                </tr>
                                 <tr>
                                    <td><div class="no_">04</div></td>
                                    <td><div class="text_">قانون اتحادي رقم (51) لسنة 2006 في شأن مكافحة جرائم الاتجار بالبشر</div></td>
                                    <td><button class="fav_button"><i class="icon icon-fav-fill"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="dashboard_content" data-tab-id="tab2">
                    <div class="dash_table">
                        <table>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>تاريخ التعديل</th>
                                    <th>وصف</th>
                                    <th>القانون ذي الصلة</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>01</strong></td>
                                    <td><strong>24 April 2020</strong></td>
                                    <td>يمارس الاتحاد في الشؤون الموكولة إليه بمقتضى أحكام هذا الدستور السيادة على جميع الأراضي والمياه الإقليمية الواقعة داخل الحدود الدولية للإمارات الأعضاء</td>
                                    <td>قانون اتحادي رقم (51) لسنة 2006 في شأن مكافحة جرائم الاتجار بالبشر</td>
                                </tr>
                                <tr>
                                    <td><strong>01</strong></td>
                                    <td><strong>24 April 2020</strong></td>
                                    <td>يمارس الاتحاد في الشؤون الموكولة إليه بمقتضى أحكام هذا الدستور السيادة على جميع الأراضي والمياه الإقليمية الواقعة داخل الحدود الدولية للإمارات الأعضاء</td>
                                    <td>قانون اتحادي رقم (51) لسنة 2006 في شأن مكافحة جرائم الاتجار بالبشر</td>
                                </tr>
                                <tr>
                                    <td><strong>01</strong></td>
                                    <td><strong>24 April 2020</strong></td>
                                    <td>يمارس الاتحاد في الشؤون الموكولة إليه بمقتضى أحكام هذا الدستور السيادة على جميع الأراضي والمياه الإقليمية الواقعة داخل الحدود الدولية للإمارات الأعضاء</td>
                                    <td>قانون اتحادي رقم (51) لسنة 2006 في شأن مكافحة جرائم الاتجار بالبشر</td>
                                </tr>
                                <tr>
                                    <td><strong>01</strong></td>
                                    <td><strong>24 April 2020</strong></td>
                                    <td>يمارس الاتحاد في الشؤون الموكولة إليه بمقتضى أحكام هذا الدستور السيادة على جميع الأراضي والمياه الإقليمية الواقعة داخل الحدود الدولية للإمارات الأعضاء</td>
                                    <td>قانون اتحادي رقم (51) لسنة 2006 في شأن مكافحة جرائم الاتجار بالبشر</td>
                                </tr>
                                <tr>
                                    <td><strong>01</strong></td>
                                    <td><strong>24 April 2020</strong></td>
                                    <td>يمارس الاتحاد في الشؤون الموكولة إليه بمقتضى أحكام هذا الدستور السيادة على جميع الأراضي والمياه الإقليمية الواقعة داخل الحدود الدولية للإمارات الأعضاء</td>
                                    <td>قانون اتحادي رقم (51) لسنة 2006 في شأن مكافحة جرائم الاتجار بالبشر</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="dashboard_content" data-tab-id="tab3">
                    <div class="update_profile_wrapper">
                        <div class="profile_pic">
                            <div class="image_">

                                <div class="picture_">
                                    <div class="img_">
                                        <picture>
                                            <source srcset="{{assets}}/images/leg-img-01.jpg">
                                            <img src="{{assets}}/images/leg-img-01.jpg" alt="">
                                        </picture>
                                    </div>
                                </div>

                                <div class="upload_">
                                    <input type="file" class="form-control uploader" data-type="attachment" data-mimes="pdf,jpeg,png,jpg"  id="attachment" name="attachment" data-parsley-group="step2" data-parsley-required-message="" />
                                    <div class="choose">
                                        <div class="choose-btn">مرفق</div>
                                        <div class="choose-file uploadFileName"></div>
                                        <div class="uploadPercentage"></div>

                                        <div class="uploadProgressWrapper">
                                        <div class="uploadProgress"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="title_">Name here</div>
                        </div>

                        <div class="update_form">
                            <form action="#" class="form_">
                                <div class="section_title sm_ full_">
                                    <h2><span>بريد إلكتروني</span></h2>
                                </div>

                                <div class="input_">
                                    <label for="fname">First Name</label>
                                    <input type="text" name="fname" value="Alan">
                                </div>

                                <div class="input_">
                                    <label for="lname">Last Name</label>
                                    <input type="text" name="lname">
                                </div>

                                <div class="input_">
                                    <label for="phone">Phone Number</label>
                                    <input type="text" name="phone">
                                </div>

                                <div class="btn_group full_ ">
                                    <button type="submit" class="btn_">
                                        <span>Update</span>
                                        <i class="icon-arrow-left"></i>
                                    </button>
                                </div>
                            </form>

                            <form action="#" class="form_ have_margin_top">
                                <div class="section_title sm_ full_">
                                    <h2><span>كلمة المرور</span></h2>
                                </div>

                                <div class="input_">
                                    <label for="password" class="active">Old Password</label>
                                    <input type="password" name="password" autocomplete="off" >
                                </div>

                                <div class="placeholder_"></div>

                                <div class="input_">
                                    <label for="npassword">New Password</label>
                                    <input type="password" name="npassword" autocomplete="off">
                                </div>

                                <div class="input_">
                                    <label for="cpassword">Confirm Password</label>
                                    <input type="password" name="cpassword" autocomplete="off">
                                </div>

                                <div class="btn_group full_ ">
                                    <button type="submit" class="btn_">
                                        <span>Update</span>
                                        <i class="icon-arrow-left"></i>
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

</main>

{{> footer}} 
{{> script-page}} 

<script>

</script>