 {{> loader}}
{{> header}}

<main class="page_">

    <div class="breadcrumb_wrapper">
        <div class="container">
            <ul class="breadcrumb_">
                <li><a href="{{menuLink 'index'}}">الصفحة الرئيسية</a></li>
                <li><span>اعد ضبط كلمه السر</span></li>
            </ul>
        </div>
    </div>

    <section class="section_">
        <div class="container">

            <div class="login_wrapper">
                <div class="login_form">
                    <form action="#" class="form_">

                        <div class="input_ full_">
                            <div class="section_title">
                                <h2><span>اعد ضبط كلمه السر</span></h2>
                            </div>
                        </div>

                        <div class="input_ full_">
                            <label for="name">البريد الإلكتروني </label>
                            <input type="text" name="name" autocomplete="off" >
                        </div> 

                        <div class="input_ full_">
                            <a href="{{menuLink 'login'}}" class="linK_">ارجع الى  <span>تسجيل الدخول </span></a>
                        </div>

                        <div class="btn_group full_">
                            <button type="submit" class="btn_">
                                <span>إعادة تعيين الآن</span>
                                <i class="icon-arrow-left"></i>
                            </button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </section>

</main>

{{> footer}} 
{{> script-page}}

<script>

</script>