{{> loader}}
{{> header}}

<main class="page_">

    <div class="breadcrumb_wrapper">
        <div class="container">
            <ul class="breadcrumb_">
                <li><a href="index.html">الصفحة الرئيسية</a></li>
                <li><span>قانون تنظيم علاقات العمل</span></li>
            </ul>
        </div>
    </div>

    <section class="section_">
        <div class="container">

            <div class="title_wrapper have_margin between_">
                <div class="section_title">
                    <h2><span>قانون تنظيم علاقات العمل</span></h2>
                </div>

                <ul class="icon_link_list">
                    <li><a href="#"><i class="icon-save"></i></a></li>
                    <li><a href="#"><i class="icon-share"></i></a></li>
                    <li><a href="#"><i class="icon-download"></i></a></li>
                    <li><a href="index.html"><i class="icon-back"></i></a></li>
                </ul>

            </div>

            <div class="alert_box blue_ t_animation d2">
                <p>تم إدراج آخر تحديث على هذا القانون بتاريخ 20/12/2022 </p>
            </div>

            <div class="law_desc_box have_margin_top t_animation d3">
                <div class="text_area">
                    <h4>نبذة</h4>
                    <p>يهدف قانون العمل إلى ضمان كفاءة سوق العمل في دولة الإمارات، وجذب أفضل الكفاءات والمهارات
                        المستقبلية من العمالة، وتوفير بيئة أعمال جاذبة لأصحاب العمل، وتحديد حقوق والتزامات الأطراف في
                        هذه العلاقة القانونية على نحو متوازن، ويشمل القانون مواداً تغطي قضايا العمل كحقوق الموظفين،
                        وعقود العمل، وتسوية المنازعات العمالية، وساعات العمل، والعمل الإضافي، والإجازات والعطلات
                        الرسمية، وتوظيف الأحداث، وسجلات الموظفين، ومعايير السلامة وإصابات العمل، والحد الأدنى للأجور،
                        وإنهاء الخدمة ومكافأة نهاية الخدمة، وغيرها</p>
                </div>

                <div class="widget_grid have_padding_top">

                    <div class="widget_card">
                        <h4>20 سبتمبر 2021</h4>
                        <div class="b_">
                            <p>تاريخ الإصدار</p>
                        </div>
                    </div>

                    <div class="widget_card">
                        <h4>26 سبتمبر 2021</h4>
                        <div class="b_">
                            <p>تاريخ النشر</p>
                        </div>
                    </div>

                    <div class="widget_card">
                        <h4>02 فبراير 2022</h4>
                        <div class="b_">
                            <p>تاريخ النفاذ</p>
                        </div>
                    </div>

                    <div class="widget_card">
                        <h4>العدد 712</h4>
                        <div class="b_">
                            <p>الجريدة الرسمية</p>
                        </div>
                    </div>

                    <div class="widget_card">
                        <h4>نافذ</h4>
                        <div class="b_">
                            <p>السريان</p>
                        </div>
                    </div>

                    <a href="law-modifications.html" class="widget_card red_">
                        <h4>3</h4>
                        <div class="b_">
                            <p>اللوائح والجداول</p>

                            <p><i class="icon-arrow-left"></i></p>
                        </div>
                    </a>

                    <a href="law-modifications.html" class="widget_card red_ active_">
                        <h4>5</h4>
                        <div class="b_">
                            <p>تعديلات التشريع</p>
                            <p><i class="icon-arrow-left"></i></p>
                        </div>
                    </a>

                </div>
            </div>

            <div class="laws_date_filter_new t_animation d3">

                <div class="navBox left">
                    <div class="icon icon-arrow-left"></div>
                </div>
                <div class="sliderWrap">
                    <div class="c_scroller">
                        <div class="c_inner_scroller"></div>
                    </div>
                    <div class="swiper">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="filter_item">
                                    <input type="radio" name="year" value="2023" checked>
                                    <div class="content_block">
                                        <div class="year_">
                                            <span>2023</span>
                                        </div>

                                        <div class="no_">
                                            <span>01</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="filter_item">
                                    <input type="radio" name="year" value="2022">
                                    <div class="content_block">
                                        <div class="year_">
                                            <span>2022</span>
                                        </div>

                                        <div class="no_">
                                            <span>01</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="filter_item">
                                    <input type="radio" name="year" value="2021">
                                    <div class="content_block">
                                        <div class="year_">
                                            <span>2021</span>
                                        </div>

                                        <div class="no_">
                                            <span>01</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="filter_item">
                                    <input type="radio" name="year" value="2020">
                                    <div class="content_block">
                                        <div class="year_">
                                            <span>2020</span>
                                        </div>

                                        <div class="no_">
                                            <span>01</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="filter_item">
                                    <input type="radio" name="year" value="2019">
                                    <div class="content_block">
                                        <div class="year_">
                                            <span>2019</span>
                                        </div>

                                        <div class="no_">
                                            <span>01</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="filter_item">
                                    <input type="radio" name="year" value="2018">
                                    <div class="content_block">
                                        <div class="year_">
                                            <span>2018</span>
                                        </div>

                                        <div class="no_">
                                            <span>01</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="filter_item">
                                    <input type="radio" name="year" value="2018">
                                    <div class="content_block">
                                        <div class="year_">
                                            <span>2018</span>
                                        </div>

                                        <div class="no_">
                                            <span>01</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="filter_item">
                                    <input type="radio" name="year" value="2018">
                                    <div class="content_block">
                                        <div class="year_">
                                            <span>2018</span>
                                        </div>

                                        <div class="no_">
                                            <span>01</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="filter_item">
                                    <input type="radio" name="year" value="2018">
                                    <div class="content_block launch_">
                                        <div class="year_">
                                            <span>2017</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="22.011"
                                                viewBox="0 0 17 22.011">
                                                <path id="Path_5255" data-name="Path 5255"
                                                    d="M7550.606,10376.556v10.335h9.719v-10.335Z"
                                                    transform="translate(-7546.916 -10364.88)" fill="#a18561" />
                                                <path id="Polygon_24" data-name="Polygon 24" d="M8.5,0,17,13H0Z"
                                                    fill="#a18561" />
                                            </svg>
                                        </div>

                                        <div class="text_">
                                            <span>تعديلات التشريع</span>
                                        </div>
                                    </div>

                                </div>
                            </div> {{!----}}

                        </div>
                    </div>
                </div>
                <div class="navBox right">
                    <div class="icon icon-arrow-right"></div>
                </div>

            </div>

            <div class="title_wrapper have_margin">
                <div class="section_title sm_ d4">
                    <h2><span>تعديلات التشريع</span></h2>
                </div>
            </div>



            <div class="laws_wrapper sm_margin_top style_2 t_animation d3">
                <div class="law_modification_wrapper">
                    <div class="law_modification_list">

                        <div class="law_modification_item">
                            <div class="law_modification_head">
                                <div class="title_">
                                    <div class="date_">24 April 2020</div>
                                    <div class="name_">قانون اتحادي رقم (51) لسنة 2006 في شأن مكافحة جرائم الاتجار
                                        بالبشر</div>
                                </div>
                                <button class="toggle_law" data-pdf="{{assets}}/pdf/sampleLive.pdf">
                                    <span></span>
                                </button>
                            </div>
                            <div class="law_modification_body">
                                <div class="item_title">
                                    <i class="icon icon-pdf"></i>
                                    <p>شأن مكافحة جرائم الاتجار بال</p>
                                </div>
                                <div class="pdf_holder">
                                    <embed src="{{assets}}/pdf/sampleLive.pdf"></embed>
                                </div>
                            </div>
                        </div>

                        <div class="law_modification_item">
                            <div class="law_modification_head">
                                <div class="title_">
                                    <div class="date_">24 April 2020</div>
                                    <div class="name_">قانون اتحادي رقم (51) لسنة 2006 في شأن مكافحة جرائم الاتجار
                                        بالبشر</div>
                                </div>
                                <button class="toggle_law" data-pdf="{{assets}}/pdf/sampleLive.pdf">
                                    <span></span>
                                </button>
                            </div>
                            <div class="law_modification_body">
                                <div class="item_title">
                                    <i class="icon icon-pdf"></i>
                                    <p>شأن مكافحة جرائم الاتجار بال</p>
                                </div>
                                <div class="pdf_holder">
                                    <iframe src="{{assets}}/pdf/sampleLive.pdf" type="application/pdf"></iframe>
                                </div>
                            </div>
                        </div>

                        <div class="law_modification_item">
                            <div class="law_modification_head">
                                <div class="title_">
                                    <div class="date_">24 April 2020</div>
                                    <div class="name_">قانون اتحادي رقم (51) لسنة 2006 في شأن مكافحة جرائم الاتجار
                                        بالبشر</div>
                                </div>
                                <button class="toggle_law">
                                    <span></span>
                                </button>
                            </div>
                            <div class="law_modification_body">
                                <div class="item_title">
                                    <i class="icon icon-pdf"></i>
                                    <p>شأن مكافحة جرائم الاتجار بال</p>
                                </div>
                                <div class="pdf_holder">
                                    <object data="https://www.africau.edu/images/default/sample.pdf"
                                        type="application/pdf" width="100%"></object>
                                </div>
                            </div>
                        </div>

                        <div class="law_modification_item">
                            <div class="law_modification_head">
                                <div class="title_">
                                    <div class="date_">24 April 2020</div>
                                    <div class="name_">قانون اتحادي رقم (51) لسنة 2006 في شأن مكافحة جرائم الاتجار
                                        بالبشر</div>
                                </div>
                                <button class="toggle_law">
                                    <span></span>
                                </button>
                            </div>
                            <div class="law_modification_body">
                                <div class="item_title">
                                    <i class="icon icon-pdf"></i>
                                    <p>شأن مكافحة جرائم الاتجار بال</p>
                                </div>
                                <div class="pdf_holder">
                                    <object data="https://www.africau.edu/images/default/sample.pdf"
                                        type="application/pdf" width="100%"></object>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

        </div>
    </section>

</main>


{{> footer}}
{{> script-page}}


<script>
    const filterSize = () => {
        var x = document.querySelector('.laws_filter').offsetHeight;
        document.body.style.setProperty('--filter-height', x + "px");
    }

    var swiperCount = document.querySelectorAll('.laws_wrapper .swiper-slide').length;

    var swiperLength = swiperCount > 12 ? 12 : swiperCount;

    var swiperDir = window.innerWidth < 1200 ? 'horizontal' : 'vertical';

    const getyearValue = (target, callback) => {
        var t = document.querySelectorAll(target);

        if (!t) return;

        t.forEach((el, indx) => {
            el.addEventListener('click', () => {
                callback(el.value, indx)
            })
        });
    }

    const lawModificationList = () => {
        const t = document.querySelectorAll('.law_modification_item')

        t.forEach((el, index, array) => {
            const btn = el.querySelector('.toggle_law');
            let isOpen = false;

            btn.addEventListener('click', () => {

                if (isOpen) {
                    el.classList.remove('active_')
                } else {
                    for (const element of array) {
                        element.classList.remove('active_')
                    }

                    el.classList.toggle('active_')
                }

                isOpen = !isOpen;

            })
        })
    }

    window.addEventListener('DOMContentLoaded', () => {
        var slideCount = $(".laws_date_filter_new .swiper-slide").length;


        var dateSwiper = new Swiper(".laws_date_filter_new .swiper", {
            slidesPerView: 3,
            spaceBetween: 0,
            centeredSlides: (($(window).width() > 1024 && slideCount <= 4) ? true : false),
            preventClicks: true,
            a11y: false,
            mousewheel: {
                invert: false,
            },
            navigation: {
                nextEl: '.laws_date_filter_new .navBox.right',
                prevEl: '.laws_date_filter_new .navBox.left',
            },
            breakpoints: {
                768: {
                    slidesPerView: 4,
                    spaceBetween: 0,
                },
                1200: {
                    slidesPerView: swiperLength,
                    slidesPerView: 7,
                },
            },
            on: {
                init: function (event) {
                    const sT = document.querySelector('.c_scroller .c_inner_scroller');
                    sT.style.width = `${event.slidesSizesGrid[0] * event.length}px`;
                    console.log(event)
                }
            }
        });

        getyearValue('.laws_date_filter_new input[type=radio]', (value, index) => {
            console.log(+value);
            dateSwiper.slideTo(index);
        })

        if ($(window).width() <= 1024) {
            $('[data-pdf]').each(function () {
                var this_ = $(this),
                    pdf = this_.data('pdf');

                this_.on('click', function (e) {
                    e.preventDefault();
                    if (pdf) {
                        window.open(pdf, '_blank');
                    }
                });

            });
        } else {
            lawModificationList();

            document.querySelectorAll('.law_modification_item .toggle_law')[0].click();
        }



    })




</script>