{{> loader}}
{{> header}}

<main class="page_">

    <div class="breadcrumb_wrapper">
        <div class="container">
            <ul class="breadcrumb_">
                <li><a href="{{menuLink 'index'}}">الصفحة الرئيسية</a></li>
                <li><span>قانون تنظيم علاقات العمل</span></li>
            </ul>
        </div>
    </div>

    <section class="section_">
        <div class="container">

            <div class="title_wrapper have_margin between_">
                <div class="section_title">
                    <h2><span>قانون تنظيم علاقات العمل</span></h2>
                </div>
            </div>

            <div class="title_wrapper between_">

                
                <div class="alert_box t_animation d2">
                    <p>تم إدراج آخر تحديث على هذا القانون بتاريخ 20/12/2022 </p>
                </div>

                 <ul class="icon_link_list">
                    <li><a href="#"><i class="icon-save"></i></a></li>
                    <li><a href="#"><i class="icon-share"></i></a></li>
                    <li><a href="#"><i class="icon-download"></i></a></li>
                    <li><a href="{{menuLink 'index'}}"><i class="icon-back"></i></a></li>
                </ul>
            </div>

            <div class="law_desc_box have_margin_top t_animation d3">
                <div class="text_area">
                    <h4>نبذة</h4>
                    <p>يهدف قانون العمل إلى ضمان كفاءة سوق العمل في دولة الإمارات، وجذب أفضل الكفاءات والمهارات
                        المستقبلية من العمالة، وتوفير بيئة أعمال جاذبة لأصحاب العمل، وتحديد حقوق والتزامات الأطراف في
                        هذه العلاقة القانونية على نحو متوازن، ويشمل القانون مواداً تغطي قضايا العمل كحقوق الموظفين،
                        وعقود العمل، وتسوية المنازعات العمالية، وساعات العمل، والعمل الإضافي، والإجازات والعطلات
                        الرسمية، وتوظيف الأحداث، وسجلات الموظفين، ومعايير السلامة وإصابات العمل، والحد الأدنى للأجور،
                        وإنهاء الخدمة ومكافأة نهاية الخدمة، وغيرها</p>
                </div>

                <div class="widget_grid have_padding_top">

                    <div class="widget_card">
                        <h4>20 سبتمبر 2021</h4>
                        <div class="b_">
                            <p>تاريخ الإصدار</p>
                        </div>
                    </div>

                    <div class="widget_card">
                        <h4>26 سبتمبر 2021</h4>
                        <div class="b_">
                            <p>تاريخ النشر</p>
                        </div>
                    </div>

                    <div class="widget_card">
                        <h4>02 فبراير 2022</h4>
                        <div class="b_">
                            <p>تاريخ النفاذ</p>
                        </div>
                    </div>

                    <div class="widget_card">
                        <h4>العدد 712</h4>
                        <div class="b_">
                            <p>الجريدة الرسمية</p>
                        </div>
                    </div>

                    <div class="widget_card">
                        <h4>نافذ</h4>
                        <div class="b_">
                            <p>السريان</p>
                        </div>
                    </div>

                    <a href="{{menuLink 'law-modifications'}}" class="widget_card red_">
                        <h4>3</h4>
                        <div class="b_">
                            <p>اللوائح والجداول</p>

                            <p><i class="icon-arrow-left"></i></p>
                        </div>
                    </a>

                    <a href="{{menuLink 'law-modifications'}}" class="widget_card red_">
                        <h4>5</h4>
                        <div class="b_">
                            <p>تعديلات التشريع</p>
                            <p><i class="icon-arrow-left"></i></p>
                        </div>
                    </a>

                </div>
            </div>

            <div class="law_main_desc t_animation d4">
                <div class="law_main_index">
                    <ul class="index_table">
                        <li><a href="#" data-href="item1">الفصل الأول: التعريفات</a></li>
                        <li><a href="#" data-href="item2">الفصل الثاني: تصنيف المنشآت</a></li>
                        <li><a href="#" data-href="item3">المادة (3): تصنيف العمال</a></li>
                        <li><a href="#" data-href="item4">المادة (4): نظام تشغيل الأحداث</a></li>
                        <li><a href="#" data-href="item5">المادة (5): أنماط العمل</a></li>
                        <li><a href="#" data-href="item6">المادة (6): أنواع تصاريح العمل</a></li>
                        <li><a href="#" data-href="item7">المادة (7): شروط وضوابط وإجراءات إصدار وتجديد وإلغاء تصاريح
                                العمل</a></li>
                        <li><a href="#" data-href="item8">لمادة (11): منح تصريح عمل جديد بعد إنهاء عقد العمل خلال فترة
                                التجربة</a></li>
                        <li><a href="#" data-href="item9">المادة (12): ضوابط شرط عدم المنافسة</a></li>
                        <li><a href="#" data-href="item10">المادة (13): تكليف العامل بعمل آخر</a></li>
                        <li><a href="#" data-href="item11">المادة (14): لوائح تنظيم العمل</a></li>
                        <li><a href="#" data-href="item12">المادة (15): ساعات العمل</a></li>
                        <li><a href="#" data-href="item13">المادة (16): الأجور</a></li>
                        <li><a href="#" data-href="item14">المادة (17): عدم تمكين العامل من أداء عمله</a></li>
                        <li><a href="#" data-href="item15">المادة (18): الإجازة السنوية للعاملين بنمط العمل بالدوام
                                الجزئي</a></li>
                        <li><a href="#" data-href="item16">المادة (19): ترحيل الإجازة السنوية أو الحصول على بدل نقدي
                                عنها</a></li>
                        <li><a href="#" data-href="item17">المادة (20): عدم استحقاق الأجر عن الإجازة المرضية الناشئة عن
                                سوء سلوك العامل</a></li>
                    </ul>
                </div>

                <div class="law_main_content">

                    <div class="title_ text_center">
                        <h4>مرسوم بقانون اتحادي رقم (33) لسنة 2021 </h4>
                        <h4>بشأن تنظيم علاقات العمل </h4>
                    </div>

                    <div class="content_">
                        <div class="c_title">
                            <h4>نحن خليفة بن زايد آل نهيان</h4>
                            <h4>رئيس دولة الإمارات العربية المتحدة</h4>
                        </div>

                        <div class="text_area">
                            <p>بعد الاطلاع على الدستور</p>
                            <p>وعلى القانون الاتحادي رقم (1) لسنة 1972 بشأن <a href="#">اختصاصات الوزارات وصلاحيات
                                    الوزراء،</a> وتعديلاته</p>
                            <p>وعلى القانون الاتحادي رقم (6) لسنة 1973 في شأن <a href="#">دخول وإقامة الأجانب</a>،
                                وتعديلاته</p>
                            <p>وعلى القانون الاتحادي رقم (8) لسنة 1980 في شأن تنظيم علاقات العمل، وتعديلاته</p>
                            <p>وعلى القانون الاتحادي رقم (3) لسنة 1987 بإصدار قانون العقوبات، وتعديلاته</p>
                            <p>وعلى القانون الاتحادي رقم (10) لسنة 1992 بإصدار قانون الإثبات في المعاملات المدنية،
                                وتعديلاته</p>
                            <p>وعلى القانون الاتحادي رقم (11) لسنة 1992 بشأن الإجراءات المدنية، وتعديلاته</p>
                            <p>وعلى القانون الاتحادي رقم (35) لسنة 1992 بإصدار قانون الإجراءات الجزائية، وتعديلاته</p>
                            <p>وعلى القانون الاتحادي رقم (7) لسنة 1999 بإصدار قانون المعاشات والتأمينات الاجتماعية،
                                وتعديلاته</p>
                            <p>وعلى القانون الاتحادي رقم (29) لسنة 2006 في شأن حقوق المعاقين، وتعديلاته</p>
                            <p>وعلى المرسوم بقانون اتحادي رقم (2) لسنة 2015 بشأن مكافحة التمييز والكراهية، وتعديلاته</p>
                            <p>وعلى القانون الاتحادي رقم (13) لسنة 2016 بشأن الرسوم القضائية أمام المحاكم الاتحادية</p>
                            <p>وعلى القانون الاتحادي رقم (14) لسنة 2016 بشأن المخالفات والجزاءات الإدارية في الحكومة
                                الاتحادية</p>
                            <p>وعلى القانون الاتحادي رقم (13) لسنة 2020 بشأن الصحة العامة</p>
                            <p>وبناءً على ما عرضه وزير الموارد البشرية والتوطين، وموافقة مجلس الوزراء</p>
                            <p>أصدرنا المرسوم بقانون الآتي</p>
                        </div>
                    </div>

                    <div class="content_" id="item1">
                        <div class="c_title justify_center">
                            <h4>المادة (1): التعريفات</h4>
                        </div>
                        <div class="text_area">
                            <p>تُطبق ذات التعريفات الواردة في المرسوم بقانون، على هذا القرار، وفيما عدا ذلك يكون
                                للعبارات التالية المعاني المبينة قرين كل منها، ما لم يقضِ سياق النص بغير ذلك. المرسوم
                                بقانون : المرسوم بقانون اتحادي رقم (33) لسنة 2021 بشأن تنظيم علاقات العمل. الأنظمة
                                القانونية : مجموعة القرارات والأدلة والتعاميم ذات الصلة بالعمل في وزارة الموارد البشرية
                                والتوطين.</p>
                        </div>
                    </div>

                    <div class="content_" id="item2">
                        <div class="c_title justify_center">
                            <h4>المادة (2): تصنيف المنشآت <div class="tooltip_holder yellow_"><i class="icon icon-alert-icon yellow_" data-fancyboxModal
                                    data-src="#moreInfo"></i> <span>النصوص السابقة</span></div></h4>
                            {{!-- data-tooltip data-tooltip-content="#test" --}}
                        </div>
                        <div class="text_area">
                            <p>مع مراعاة أحكام البند رقم (1) من المادة رقم (70) من المرسوم بقانون فإنه:</p>
                            <p>1. يتم تصنيف المنشآت وفق معايير تتضمن النشاط الاقتصادي وحجم العمالة والتنوع الثقافي
                                والديموغرافي للعمالة ومدى الالتزام بالأنظمة القانونية ودعم تنفيذ التوجهات الحكومية
                                المتعلقة بالتوطين والتدريب وتنمية المهارات.</p>
                            <p>2. يصدر مجلس الوزراء بناءً على اقتراح الوزير القرارات اللازمة لتصنيف المنشآت والامتيازات
                                المقدمة لكل فئة من هذه المنشـآت بما يضمن تعزيز تنافسية سوق العمل.</p>
                        </div>
                    </div>

                    <div class="content_" id="item3">
                        <div class="c_title justify_center">
                            <h4>المادة (3): تصنيف العمال</h4>
                        </div>
                        <div class="text_area">
                            <p>مع مراعاة أحكام البند رقم (2) من المادة رقم (70) من المرسوم بقانون فإنه:</p>
                            <p>1. يصنف العمال الخاضعون لأحكام المرسوم بقانون إلى فئات بحسب معايير تتضمن المستويات
                                المهارية أو التعليمية أو الإنتاجية أو المهنية أو الأجور أو حسب فئات الإقامة.</p>
                            <p>2. يصدر مجلس الوزراء بناءً على اقتراح الوزير القرارات اللازمة لتصنيف المستويات المهارية
                                للعمالة في سوق العمل والامتيازات المقدمة لكل مستوى بما يضمن تعزيز إنتاجية سوق العمل.</p>
                        </div>
                    </div>

                    <div class="content_" id="item4">
                        <div class="c_title justify_center">
                            <h4>المادة (4): نظام تشغيل الأحداث <i class="icon icon-about blue_" data-tooltip
                                    data-tooltip-content="#test"></i></h4>
                        </div>
                        <div class="text_area">
                            <p>1. مع مراعاة أحكام المادة رقم (5) من المرسوم بقانون، يُحظر تشغيل الأحداث في الأعمال
                                والمهن التالية</p>
                            <p> ‌أ. الأعمال والصناعات الخطرة أو الضارة.</p>
                            <p> ‌ب. المهن التي يحتمل أن تعرض صحة الأحداث أو سلامتهم للخطر، بسبب طبيعة المهنة أو الظروف
                                التي تؤدى فيها.</p>
                            <p>2. يحدد بقرار من الوزير بعد التنسيق مع الجهات المعنية، الأعمال الخطرة أو الشاقة أو
                                الأعمال التي تُلحق بحكم طبيعتها أضرارًا بصحة أو سلامة أو أخلاق الحدث</p>
                            <p>3. يتعين على صاحب العمل المشغل للحدث الالتزام بالإجراءات التالية:</p>
                            <p> ‌أ. أن يحتفظ بسجل خاص بالأحداث، يبين فيه اسم الحدث وعمره والاسم الكامل لمن له الولاية أو
                                الوصاية عليه وبيانات التواصل معه، ومحل إقامة الحدث ومن له الوصاية عليه، وتاريخ استخدامه
                                والعمل الذي يستخدم فيه.</p>
                            <p> ‌ب. التأمين على الحدث شأنه شأن العمالة العادية.</p>
                            <p> ‌ج. تدريب الأحداث العاملين لديه على كيفية استخدام وسائل السلامة والصحة المهنية.</p>
                            <p> ‌د. أن يضع في مكان ظاهر في موقع العمل، الأحكام الخاصة بتشغيل الأحداث.</p>
                            <p>4. تُستثنى المؤسسات الخيرية والتربوية والتدريبية والجهات الأخرى التي تهدف إلى التأهيل أو
                                التدريب المهني للأحداث من بعض أحكام المادة رقم (5) من المرسوم بقانون وأحكام هذه المادة
                                وفق الضوابط الآتية: </p>
                            <p> أ‌. أن تكون المؤسسة مسجلة لدى الجهات الحكومية المختصة بهذا الوصف.</p>
                            <p>ب‌. أن يكون هدفها الفعلي والمسجلة به هو التأهيل أو التدريب المهني، أو العمل الخيري أو
                                التربوي أو الأعمال التطوعية</p>
                        </div>
                    </div>

                    <div class="content_" id="item5">
                        <div class="c_title justify_center">
                            <h4>المادة (5): أنماط العمل</h4>
                        </div>
                        <div class="text_area">
                            <p>1. مع مراعاة أحكام المادة رقم (7) من المرسوم بقانون، يكون التعاقد مع العامل وفق أي نمط من
                                أنماط العمل المذكورة فيها، بالإضافة إلى الأنماط الآتية:
                                أ‌. العمل عن بُعد: ويتم تأدية العمل كله أو جزء منه خارج مقر العمل، ويكون الاتصال ما بين
                                العامل وجهة العمل إلكترونيًّا عوضًا عن التواجد فعليًّا وسواء كان العمل جزئي أو بدوام
                                كامل.</p>
                            <p> ب‌. تقاسم الوظيفة: يتم بموجبه تقسيم المهام والواجبات بين أكثر من عامل لتأدية المهام
                                المتفق عليها مسبقًا، وينعكس على قيمة الأجر المستحق لكل منهم بحيث يكون نسبة وتناسب. ويتم
                                التعامل معهم وفق ضوابط العمل الجزئي.</p>
                            <p>2. للوزارة استحداث أنماط عمل أخرى حسب ما تقتضيه متطلبات سوق العمل.</p>
                            <p>3. مع مراعاة ما هو منصوص عليه في المرسوم بقانون وهذا القرار، يلتزم كل من العامل وصاحب
                                العمل بالبنود المنصوص عليها في عقد العمل وفق كل نمط من الأنماط المذكورة في البند (1) من
                                هذه المادة.</p>
                        </div>
                    </div>

                    <div class="content_" id="item6">
                        <div class="c_title justify_center">
                            <h4>المادة (6): أنواع تصاريح العمل</h4>
                        </div>
                        <div class="text_area">
                            <p>1. مع مراعاة أحكام المادة رقم (6) من المرسوم بقانون، فإن أنواع تصاريح العمل تُحدد كالآتي
                            </p>
                            <p>‌أ. تصريح العمل (استقدام عامل من خارج الدولة): يتيح هذا النوع من التصاريح للمنشآت المسجلة
                                في الوزارة استقدام عامل من خارج الدولة.</p>
                            <p> ‌ب. تصريح عمل انتقال: وهو التصريح الذي يتم بموجبه انتقال العامل غير المواطن من وإلى
                                منشأة مسجلة في الوزارة.</p>
                            <p> ‌ج. تصريح لمن هم على إقامة ذويهم: وهو التصريح الذي يتم بموجبه تشغيل من هم على إقامة
                                ذويهم للعمل في منشأة مسجلة في الوزارة.</p>
                            <p>‌ د. تصريح عمل مؤقت: وهو التصريح الذي يتم بموجبه تشغيل عامل لعملٍ تقتضي طبيعة تنفيذه أو
                                إنجازه مدة محددة في إحدى المنشآت المسجلة في الوزارة.
                                ‌ ه. تصريح عمل مهمة: هو تصريح يمنح لإحدى المنشآت المسجلة في الوزارة الراغبة في استقدام
                                عامل من الخارج لإنجاز عمل مؤقت أو مشروع معين محدد المدة.</p>
                            <p>‌ و. تصريح العمل الجزئي: يتيح هذا النوع من التصاريح للمنشآت المسجلة في الوزارة تشغيل عامل
                                بموجب عقد عمل جزئي بحيث تقل ساعات عمله أو أيام عمله عن نظرائه ممن يعملون بدوام كامل.
                                ويمكن للعامل أن يعمل لدى أكثر من صاحب عمل بعد الحصول على تصريح بذلك من الوزارة.</p>
                            <p>‌ ز. تصريح عمل حدث: وهو التصريح الذي يتم بموجبه تشغيل من بلغ سن 15 عامًا ولم يتجاوز 18 من
                                عمره في منشأة مسجلة في الوزارة.</p>
                            <p>‌ ح. تصريح تدريب وتشغيل طالب: يتيح هذا النوع من التصاريح للمنشآت المسجلة في الوزارة تدريب
                                أو تشغيل طالب في الدولة ممن بلغ سن 15 عامًا وفقًا لضوابط وشروط محددة تضمن بيئة تدريب
                                وعمل مناسبتين.</p>
                            <p> ‌ط. تصريح عمل مواطن/ أبناء دول مجلس التعاون: يتيح هذا النوع من التصاريح للمنشآت المسجلة
                                في الوزارة تشغيل المواطنين أو أبناء دول مجلس التعاون لدول الخليج العربية.</p>
                            <p> ‌ي. تصريح عمل لحاملي الإقامة الذهبية: يمنح هذا التصريح عند طلب منشأة مسجلة في الوزارة
                                تشغيل عامل داخل الدولة من حاملي الإقامة الذهبية.</p>
                            <p> ‌ك. تصريح عمل مواطن متدرب: يمنح هذا التصريح للمنشآت المسجلة في الوزارة الراغبة في تدريب
                                مواطن وفق مؤهله العلمي المعتمد.</p>
                            <p>‌ ل. تصريح العمل الحر: يمنح هذا التصريح للأفراد الراغبين في ممارسة العمل الحر بشكل مستقل
                                (على إقامتهم الذاتية للأفراد الأجانب) دون رعاية جهة أو صاحب عمل محدد في الدولة ودون
                                اشتراط وجود عقد عمل ساري المفعول، والذي يحقق من خلاله الشخص الطبيعي دخلاً مباشرًا، عن
                                طريق تقديم خدماته لفترة زمنية محددة أو لأداء مهمة أو تقديم خدمة معينة، سواء لأفراد أو
                                لمنشآت، وبحيث لا يكون هذا الشخص الطبيعي بأي حال من الأحوال عامل لدى هؤلاء الأفراد أو تلك
                                المنشآت.</p>
                            <p>2. يجوز بقرار من الوزير استحداث تصاريح عمل جديدة وفق أحكام المرسوم بقانون.</p>
                        </div>
                    </div>

                    <div class="content_" id="item7">
                        <div class="c_title justify_center">
                            <h4>المادة (7): شروط وضوابط وإجراءات إصدار وتجديد وإلغاء تصاريح العمل</h4>
                        </div>
                        <div class="text_area">
                            <p>1. شروط إصدار تصاريح العمل:</p>
                            <p>‌ أ. ألا يقل عمر العامل عن 18 عامًا، ويُستثنى من ذلك تصريح عمل الحدث وتصريح تدريب أو
                                تشغيل الطالب.</p>
                            <p> ‌ب. أن يكون مستوفيًا الشروط المنصوص عليها في التشريعات النافذة في هذا الشأن، وذلك في
                                المهن التخصصية أو أية وظائف أخرى تتطلب الحصول على ترخيص بمزاولة المهنة.</p>
                            <p>‌ ج. أن تكون المهنة التي سيعمل فيها العامل لدى صاحب العمل تتفق مع نشاط المنشأة.</p>
                            <p>‌ د. أن تكون رخصة المنشأة سارية المفعول ولا توجد عليها مخالفات تؤدي لوقف نشاطها طبقًا
                                للأنظمة القانونية.</p>
                            <p>‌ ه. أن يكون طلب استصدار التصريح مقدم من المخول قانونًا بالتوقيع عن المنشأة.</p>
                            <p>‌ و. أية شروط أخرى يصدر بها قرار من الوزير أو من يفوضه.</p>
                            <br />
                            <p>2. إجراءات تجديد تصاريح العمل:</p>
                            <p> أ. تقديم الطلب وفق القنوات التي تحددها الوزارة.</p>
                            <p> ب. استيفاء الشروط المطلوبة للإصدار.</p>
                            <p> ج. استيفاء الوثائق والمستندات والمؤهلات العلمية المطلوبة.</p>
                            <p> د. دفع الرسوم المقررة حسب نوع التصريح وفئة المنشأة وفقًا لنظام تصنيف المنشآت المعتمد.
                            </p>
                            <p> هـ. أية إجراءات أخرى يصدر بها قرار من الوزير، أو من يفوضه.</p>
                            <br />
                            <p>3. إجراءات إلغاء تصاريح العمل:</p>
                            <p> أ. التقدم بطلب إلغاء تصريح العمل عبر القنوات التي تحددها الوزارة.</p>
                            <p>ب. استكمال البيانات والمرفقات المطلوبة.</p>
                            <p> ج. سداد غرامات تأخير إصدار تصريح العمل أو عدم تجديده إن وجدت.</p>
                            <p> د. إقرار المنشأة بتسليم العامل لمستحقاته.</p>
                            <p> هـ. أية شروط أخرى تصدر بقرار من الوزير أو من يفوضه.</p>
                            <br>
                            <p>4. للوزارة الامتناع عن إصدار تصاريح العمل، أو عدم تجديدها، أو إلغاؤها، واتخاذ الإجراءات
                                القانونية اللازمة في حالة ثبوت أي مما يأتي</p>
                            <p> أ. تقديم أي مستندات غير صحيحة.</p>
                            <p> ب. أن المنشأة وهمية أو لا تمارس نشاطها.</p>
                            <p> ج. عدم الالتزام بنظام حماية الأجور أو أي أنظمة أخرى تعتمد لتنظيم سوق العمل في الدولة.
                            </p>
                            <p> د. أية حالات أخرى يصدر بها قرار من الوزير أو من يفوضه.</p>
                        </div>
                    </div>

                    <div class="content_" id="item8">
                        <div class="c_title justify_center">
                            <h4>المادة (8): العمل الحر</h4>
                        </div>
                        <div class="text_area">
                            <p>1. العمل الحر هو نظام للعمل المستقل والمرن والذي يحقق من خلاله الشخص الطبيعي دخلاً
                                مباشرًا، عن طريق تقديم خدماته لفترة زمنية محددة أو لأداء مهمة أو تقديم خدمة معينة، سواء
                                لأفراد أو لمنشآت، وبحيث لا يكون هذا الشخص الطبيعي بأي حال من الأحوال عامل لدى هؤلاء
                                الأفراد أو تلك المنشآت.</p>
                            <p>2. يصدر مجلس الوزراء بناءً على اقتراح الوزير القرارات اللازمة والتي تُحدد فيها إجراءات
                                وضوابط وآليات تسجيل القائمين بالعمل الحر في أنظمة الوزارة والحصول على تصريح العمل
                                وتجديده وإلغاؤه، وبما يضمن تعزيز مرونة ومتطلبات سوق العمل.</p>
                        </div>
                    </div>

                    <div class="content_" id="item9">
                        <div class="c_title justify_center">
                            <h4>المادة (9): نشاط وكالات التوظيف</h4>
                        </div>
                        <div class="text_area">
                            <p>1. مع مراعاة أحكام المادة رقم (6) من المرسوم بقانون، تُعد الممارسة لأي من أعمال التوسط أو
                                التوظيف المؤقت والتعهيد (منفردةً أو مجتمعةً) ممارسةً لنشاط وكالات التوظيف، ويُستخدم في
                                نطاق نشاط عمل وكالات التوظيف التعاريف الآتية:</p>
                            <p>‌ أ. التوسط: ويكون بتقريب وجهات النظر بين طرفي العمل ومن يمثلهما، والتفاوض عنهما على شروط
                                العقد، والاستخدام بهدف قيام علاقة عمل، ودون أن تصبح الوكالة طرفًا فيها.</p>
                            <p>‌ ب. التوظيف المؤقت والتعهيد: استخدام العامل بقصد إتاحته لطرف ثالث، وتصبح علاقة العامل
                                علاقة مباشرة مع الوكالة التي قامت بتعهيد خدماته لطرف ثالث (المستفيد).</p>
                            <p>ج. المستفيد: أي شخص طبيعي أو اعتباري يتم تكليف العامل لديه وتحت إشرافه وفق نظام التوظيف
                                المؤقت والتعهيد سواء لفترة زمنية محددة أو لأداء مهمة أو تقديم خدمة معينة</p>
                            <p>‌ د. الوكالة: أي مؤسسة فردية أو ذات شخصية اعتبارية تمارس نشاط متعلق بالتوسط أو التوظيف
                                المؤقت والتعهيد لتقديم خدمات عامل أو أكثر لفترة زمنية محددة أو لأداء مهمة أو تقديم خدمة
                                معينة لدى المستفيد.</p>
                            <p>2. يتعين توافر الشروط التالية للحصول على ترخيص بممارسة أي عمل من أعمال الوكالة:</p>
                            <p>‌ أ. ألا يكون الشخص في المؤسسة الفردية أو أي من الشركاء في الشخص الاعتباري، قد حكم عليه
                                في جريمة مخلة بالشرف والأمانة، أو في جريمة من جرائم الاتجار بالبشر، أو الجرائم المنصوص
                                عليها في المرسوم بقانون، ما لم يكن قد رُد إليه اعتباره إذا كان الحكم عليه بعقوبة مقيدة
                                للحرية، أو بعد مضي سنة من تاريخ الحكم إذا كان الحكم صادرًا بالغرامة.</p>
                            <p>‌ ب. أن تقدم المؤسسة الفردية أو الشخص الاعتباري للوزارة ضمانًا بنكيًّا لا تقل قيمته في
                                جميع أوقات سريان الترخيص عن (300) ثلاثمائة ألف درهم في حالة الترخيص بوكالة التوسط، ولا
                                يقل عن مليون درهم في حالة الترخيص بوكالة التوظيف المؤقت والتعهيد، أو في حالة الجمع بين
                                النشاطين، ويجب أن يُجدد تلقائيًّا أو أن يقدم نظام للتأمين كبديل للضمان، وللوزارة القيام
                                بتخصيص كل أو بعض الضمان أو التأمين، لسداد أي مبالغ تكون مستحقة على الوكالة، لعدم قيامها
                                بتنفيذ الالتزامات المترتبة عليها، أو لعدم التقيد بالتعليمات والقرارات الصادرة بموجبه.
                            </p>
                            <p>‌ ج. تقديم التقرير الائتماني لطالب الترخيص، أو الشخص في المؤسسة الفردية والشركاء في الشخص
                                الاعتباري، صادر من الجهة المختصة.
                                ‌ د. أية شروط أخرى يصدر بها قرار من الوزير.</p>
                            <p>3. يُجدد الترخيص الصادر من الوزارة لوكالات التوظيف سنويًّا بشرط التأكد من استمرار توافر
                                كافة الشروط المطلوبة للترخيص.</p>
                            <p>4. ضوابط ممارسة نشاط التوظيف المؤقت/ التعهيد:</p>
                            <p>‌ أ. عدم توفير عمال لمستفيد إذا كانت الشركة المستفيدة موقوفة إداريًّا من قبل الوزارة
                                لارتكابها مخالفات تتعلق بتطبيق المرسوم بقانون وهذا القرار.
                                ‌ ب. عدم توفير عمال لوكالة أخرى تمارس نشاط التوظيف المؤقت بهدف توظيفهم لدى المستفيد.</p>
                            <p>ج. أن يكون الشخص في المؤسسة الفردية أو أي من الشركاء في الشخص الاعتباري مسؤولاً عن تطبيق
                                أحكام المرسوم بقانون ولائحته التنفيذية على العمالة المسجلة لديه، وإبلاغ الجهات المختصة
                                بالوزارة في حال علمه بوقوع أي مخالفة أو انتهاك لحقوق أو صحة وسلامة العمال من قبل
                                المستفيد.‌ د. أية ضوابط أخرى تُقررها الوزارة</p>
                            <p>6. إجراءات إصدار ترخيص وكالة التوظيف المؤقت والتعهيد أو التوسط:</p>
                            <p> أ. تقديم طلب عبر القنوات التي تحددها الوزارة.</p>
                            <p> ب. استيفاء الشروط المطلوبة لإصدار الترخيص.</p>
                            <p> ج. استيفاء الضمانات والتأمينات المطلوبة.</p>
                            <p> د. دفع الرسوم المقررة.</p>
                            <p> هـ. أية إجراءات أخرى يصدر بها قرار من الوزير أو من يفوضه.</p>
                            <p>7. إجراءات وقف أو إلغاء ترخيص وكالات التوظيف:</p>
                            <p>للوزارة وقف ترخيص الوكالة مؤقتًا، أو إلغاء ترخيصها إذا تم التحقق من توافر إحدى الحالات
                                الآتية:</p>
                            <p> أ. عدم توافر شرط من الشروط التي صدر الترخيص بناءً عليها.</p>
                            <p> ب. إذا ثبت عدم صحة أي من الوثائق أو البيانات المقدمة لغايات الترخيص.</p>
                            <p>ج. إذا ارتكبت الوكالة أي عمل ينطوي على شكل من أشكال العمل الجبري أو الاتجار بالبشر.</p>
                            <p> د. عدم سداد أجور العمال.</p>
                            <p> هـ. مخالفة أية من الشروط الأخرى التي تُقررها الوزارة.</p>
                        </div>
                    </div>

                    <div class="content_" id="item10">
                        <div class="c_title justify_center">
                            <h4>المادة (10): عقد العمل</h4>
                        </div>
                        <div class="text_area">
                            <p>مع مراعاة أحكام المادة رقم (8) من المرسوم بقانون، فإنه:</p>
                            <p>1. يجب أن يحتوي عقد العمل بصورة أساسية على اسم صاحب العمل وعنوانه، واسم العامل وجنسيته
                                وتاريخ ميلاده، وما يلزم لإثبات شخصيته، ومؤهله، والوظيفة أو المهنة، وتاريخ الالتحاق
                                بالعمل، ومكان العمل، وساعات العمل، وأيام الراحة، وفترة التجربة إن وجدت، ومدة العقد،
                                والأجر المتفق عليه بما في ذلك المزايا والبدلات، ومدة الإجازة السنوية المستحقة، ومدة
                                الإنذار، وإجراءات إنهاء عقد العمل وأية بيانات أخرى تقررها الوزارة وفق ما يتطلبه تنظيم
                                العلاقة بين الطرفين.</p>
                            <p>2. يجوز اتفاق العامل وصاحب العمل على إدخال بنود جديدة على نموذج العقود المعتمدة، بشرط
                                اتفاقها مع أحكام المرسوم بقانون وهذا القرار والأنظمة القانونية.</p>
                            <p>3. يجوز تغيير العقد من نمط عمل إلى آخر ويشترط لذلك:</p>
                            <p> أ. موافقة كل من العامل وصاحب العمل.</p>
                            <p>ب. استيفاء كافة المستحقات المترتبة على العقد الأول.</p>
                            <p> ج. اتباع الإجراءات التي تحددها الوزارة.</p>
                            <p>4. يكون التعاقد بين العامل وصاحب العمل على نمط العمل المتفق عليه وفق نماذج العقود في نظام
                                الوزارة وهي:</p>
                            <p> أ. عقد عمل الدوام الكامل.</p>
                            <p> ب. عقد عمل الدوام الجزئي.</p>
                            <p> ج. عقد عمل العمل المؤقت.</p>
                            <p> د. عقد عمل العمل المرن.</p>
                            <p> هـ. عقد عمل العمل عن بُعد.</p>
                            <p> و. عقد عمل تقاسم الوظيفة.</p>
                            <p> ز. أية نماذج عقود عمل أخرى تصدر بقرار من الوزير وفقًا لتصنيف العمالة المعتمد من مجلس
                                الوزراء وأنماط العمل.</p>
                        </div>
                    </div>

                    <div class="content_" id="item11">
                        <div class="c_title justify_center">
                            <h4>المادة (11): منح تصريح عمل جديد بعد إنهاء عقد العمل خلال فترة التجربة</h4>
                        </div>
                        <div class="text_area">
                            <p>مع مراعاة أحكام البندين رقمي (4) و(6) من المادة رقم (9) من المرسوم بقانون، للوزارة
                                استثناء بعض العمال من شرط عدم منح تصريح العمل وفق الضوابط التالية:</p>
                            <p>1. أن يكون العامل من المستويات المهارية أو المهنية أو المعرفية التي تحتاج إليها الدولة.
                            </p>
                            <p>2. العامل الذي يكون على إقامة ذويه.</p>
                            <p>3. حاملي الإقامة الذهبية.</p>
                            <p>4. أية فئات مهنية وفق احتياجات سوق العمل في الدولة يصدر بها قرار من الوزير بموجب تصنيف
                                العمالة المعتمد من مجلس الوزراء.</p>
                        </div>
                    </div>

                    <div class="content_" id="item12">
                        <div class="c_title justify_center">
                            <h4>المادة (12): ضوابط شرط عدم المنافسة</h4>
                        </div>
                        <div class="text_area">
                            <p>1. مع مراعاة أحكام المادة رقم (10) من المرسوم بقانون، يُشترط لتطبيق شرط عدم المنافسة
                                المنصوص عليه فيها أن يتم تحديد الآتي:
                                أ. النطاق الجغرافي لتطبيق الشرط.</p>
                            <p> ب. مدة الشرط، على ألا تزيد على سنتين من تاريخ انتهاء العقد.</p>
                            <p> ج. طبيعة العمل بحيث تضر ضررًا جسيمًا بالمصالح المشروعة لصاحب العمل.</p>
                            <p>2. في حال إثارة خلاف حول شرط عدم المنافسة وعدم تسويتها وديًّا يحال الأمر للقضاء، ويقع عبء
                                إثبات الضرر على صاحب العمل.</p>
                            <p>3. لا يسري شرط عدم المنافسة في حال كان سبب إنهاء العقد يرجع لصاحب العمل أو لإخلاله
                                بالتزاماته القانونية أو التعاقدية.</p>
                            <p>4. يجوز الاتفاق كتابةً على عدم تنفيذ شرط عدم المنافسة عقب انتهاء عقد العمل.</p>
                            <p>5. يتم استثناء العامل من شرط عدم المنافسة المنصوص عليه في المادة رقم (10) من المرسوم
                                بقانون وفق الشروط الآتية:</p>
                            <p>أ. قيام العامل أو صاحب العمل الجديد بدفع تعويض لا يتجاوز مقداره ثلاثة أشهر من أجر العامل
                                المتفق عليه في آخر عقد لصاحب العمل السابق، ويُشترط موافقة صاحب العمل السابق كتابة على
                                ذلك</p>
                            <p> ب. إذا أُنهي العقد خلال فترة التجربة.</p>
                            <p> ج. أية فئات مهنية وفق احتياجات سوق العمل في الدولة يصدر بها قرار من الوزير بموجب تصنيف
                                العمالة المعتمد من مجلس الوزراء.</p>
                        </div>
                    </div>

                    <div class="content_" id="item13">
                        <div class="c_title justify_center">
                            <h4>المادة (13): تكليف العامل بعمل آخر</h4>
                        </div>
                        <div class="text_area">
                            <p>1. مع مراعاة أحكام المادة رقم (12) من المرسوم بقانون، يجوز تكليف العامل بعمل آخر يختلف
                                اختلافًا جوهريًّا في طبيعته عن العمل الأصلي، وذلك على سبيل الاستثناء الذي تستدعيه
                                الضرورة، أو لمنع وقوع حادث، أو لإصلاح ما نشأ عن العامل من ضرر، ويكون الحد الأقصى لتكليف
                                العامل بتلك الأعمال (90) تسعين يومًا في السنة.</p>
                            <p>2. ويقصد بالاختلاف الجوهري في تطبيق البند (1) من هذه المادة أن يكون العمل المكلف به
                                العامل يختلف تمامًا وطبيعة مهنته أو مؤهله العلمي.</p>
                        </div>
                    </div>

                    <div class="content_" id="item14">
                        <div class="c_title justify_center">
                            <h4>المادة (14): لوائح تنظيم العمل</h4>
                        </div>
                        <div class="text_area">
                            <p>مع مراعاة أحكام المادة رقم (13) من المرسوم بقانون، على المنشآت التي يعمل لديها (50)
                                عاملاً فأكثر، وضع لوائح لتنظيم العمل، مثل لائحة تعليمات العمل، والجزاءات والترقيات
                                والمكافآت، وإجراءات إنهاء علاقة العمل وذلك بمراعاة الضوابط الآتية:</p>
                            <p>1. وضع اللوائح بما لا يخالف الأحكام والقواعد المنصوص عليها في المرسوم بقانون وأحكام هذا
                                القرار والأنظمة القانونية.</p>
                            <p>2. أن تتضمن لائحة الجزاءات التي يجوز توقيعها على العمال المخالفين، وشروط وضوابط توقيعها.
                            </p>
                            <p>3. أن تتضمن لائحة تعليمات العمل أوقات العمل اليومي والعطلة الأسبوعية وإجازات الأعياد
                                والتدابير والاحتياطات الضرورية الواجب مراعاتها لتجنب إصابات العمل وأخطار الحريق.</p>
                            <p>4. أن تتضمن لائحة الترقيات والمكافآت المعايير والضوابط الخاصة بالترقيات والمكافآت.</p>
                            <p>5. يجب على صاحب العمل إحاطة العامل باللوائح المنصوص عليها في هذه المادة بأية وسيلة متاحة،
                                وأن يتم توعيته بها، وباللغة التي يفهمها.</p>
                        </div>
                    </div>

                    <div class="content_" id="item15">
                        <div class="c_title justify_center">
                            <h4>المادة (15): ساعات العمل</h4>
                        </div>
                        <div class="text_area">
                            <p>مع مراعاة أحكام المادة رقم (17) من المرسوم بقانون، فإنه:</p>
                            <p>1. تحتسب ضمن ساعات العمل الفترات الزمنية التي يقضيها العامل في الانتقال بين محل مسكنه
                                ومكان العمل في الأحوال الآتية:</p>
                            <p> أ. الفترة التي يقضيها العامل في وسيلة النقل في حال سوء الأحوال الجوية والاستجابة
                                لتحذيرات المركز الوطني للأرصاد بشأن التغيرات والتقلبات الجوية.</p>
                            <p> ب. الوقت الذي يقضيه العامل بوسيلة النقل التي يوفرها صاحب العمل في حال تعرضها لحادث مروري
                                أو عطل طارئ.</p>
                            <p> ج. حالة اتفاق الطرفين في العقد صراحةً على ذلك.</p>
                            <p>2. تخفض ساعات العمل العادية ساعتين خلال شهر رمضان المبارك.</p>
                            <p>3. لصاحب العمل تشغيل العامل ساعات عمل إضافية على ساعات العمل العادية على ألا تزيد على
                                ساعتين في اليوم الواحد، إلا إذا كان العمل لازمًا لمنع وقوع خسارة جسيمة أو حادث خطير أو
                                لإزالة آثاره أو التخفيف منها، وفي جميع الأحوال يجب ألا يزيد مجموع ساعات العمل على (144)
                                مائة وأربعًا وأربعون ساعة كل (3) ثلاثة أسابيع.</p>
                            <p>4. يُستثنى من الأحكام المتعلقة بالحد الأقصى لساعات العمل الفئات الآتية</p>
                            <p> أ. رؤساء مجالس الإدارة وأعضاء هذه المجالس.</p>
                            <p> ب. الأشخاص الذين يشغلون مناصب إشرافية إذا كان من شأن هذه المناصب أن يتمتع شاغلوها بسلطات
                                صاحب العمل.</p>
                            <p> ج. العمال الذين يشكلون طاقم السفن البحرية والعمال الذين يعملون في البحر ويتمتعون بشروط
                                خدمة خاصة بسبب طبيعة عملهم.</p>
                            <p> د. الأعمال التي يتحتم طبيعتها الفنية استمرار العمل فيها من خلال ورديات أو مناوبات
                                متعاقبة على ألا يتجاوز متوسط ساعات العمل (56) ساعة في الأسبوع. هـ. الأعمال التحضيرية أو
                                التكميلية التي يتعين بالضرورة تنفيذها خارج الحدود الزمنية المقررة بشكل عام للعمل في
                                المنشأة.</p>
                            <p>5. للوزير إصدار القرارات اللازمة لتحديد الأعمال الواردة في هذه المادة طبقًا لاحتياجات سوق
                                العمل.</p>
                        </div>
                    </div>

                    <div class="content_" id="item16">
                        <div class="c_title justify_center">
                            <h4>المادة (16): الأجور</h4>
                        </div>
                        <div class="text_area">
                            <p>مع مراعاة أحكام المادة رقم (22) من المرسوم بقانون:</p>
                            <p>1. يلتزم صاحب العمل بأن يؤدي الأجور للعاملين لديه في مواعيد استحقاقها وفق الشروط والضوابط
                                والإجراءات الآتية:</p>
                            <p>‌ أ. أن يتم سداد الأجور في مواعيد استحقاقها على النحو المتفق عليه في العقد وبما يتفق مع
                                الأنظمة والمعايير التي تضعها الوزارة.</p>
                            <p> ‌ب. يتعين على جميع المنشآت المسجلة في الوزارة سداد أجور العاملين لديها في تاريخ
                                استحقاقها من خلال نظام حماية الأجور أو أية أنظمة أخرى معتمدة لدى الوزارة.</p>
                            <p> ‌ج. على جميع المنشآت تقديم كافة ما يطلب منها لإثبات سداد أجور عمالها في حال طلب منها ذلك
                            </p>
                            <p>2. للوزارة اتخاذ كافة الإجراءات والتدابير القانونية المنصوص عليها في المرسوم بقانون وهذا
                                القرار والأنظمة القانونية ذات العلاقة تجاه المنشأة في حال عدم سداد الأجر المتفق عليه.
                            </p>
                        </div>
                    </div>

                    <div class="content_" id="item17">
                        <div class="c_title justify_center">
                            <h4>المادة (73): الإلغاءات</h4>
                        </div>
                        <div class="text_area">
                            <p>يُلغى القانون الاتحادي رقم (8) لسنة 1980 بشأن تنظيم علاقات العمل</p>
                            <p>يُلغى كل حكم يخالف أو يتعارض مع أحكام هذا المرسوم بقانون</p>
                            <p>يستمر العمل بالقرارات والأنظمة والقواعد المعمول بها قبل سريان أحكام هذا المرسوم بقانون،
                                وبما لا يتعارض مع أحكامه، إلى حين صدور ما يحل محلها وفقًا لأحكام هذا المرسوم بقانون</p>
                        </div>
                    </div>

                    <div class="content_" id="item17">
                        <div class="c_title justify_center">
                            <h4>المادة (74): نشر المرسوم بقانون والعمل به</h4>
                        </div>
                        <div class="text_area">
                            <p>يُنشر هذا المرسوم بقانون في الجريدة الرسمية، ويُعمل به اعتبارًا من 02 فبراير 2022</p>
                        </div>
                    </div>

                    <div class="title_ text_end mTop1">
                        <h4>خليفة بن زايد آل نهيان</h4>
                        <h4>رئيس دولة الإمارات العربية المتحدة</h4>
                    </div>

                    <div class="title_ text_start">
                        <h4>صدر عنا في قصر الرئاسة في أبو ظبي</h4>
                        <h4>بتار يخ: 13/صفر/ 1443هـ</h4>
                        <h4>المو افق: 20/سبتمبر/ 2021م</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="moreInfo" class="popupBox md_box" style="display: none;">
        <button type="button" data-fancybox-close="" class="fancybox-button fancybox-close-small" title="Close"><svg
                xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24">
                <path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path>
            </svg></button>
        <div class="inner_">
            <div class="faq_wrapper v2 ">
                <div class="item_">
                    <div class="head_">
                        <div class="inn_">
                            <div class="no_">01</div>
                            <p>هل يستطيع المستخدم الاطلاع على النصوص السابقة للمواد قبل التعديل؟</p>
                            <div class="title_">
                                <div class="date_">05 سبتمبر 2019</div>
                                <div class="name_">مرسوم بقانون اتحادي رقم (26) لسنة 2019م في شأن المالية العامة</div>
                            </div>
                        </div>
                        <button><span></span></button>
                    </div>
                    <div class="body_">
                        <p>نعم، يمكن للمستخدم الاطلاع على النصوص السابقة للمواد من خلال الضغط على رابط "عرض المواد
                            السابقة</p>
                    </div>
                </div>

                <div class="item_">
                    <div class="head_">
                        <div class="inn_">
                            <div class="no_">02</div>
                            <p>هل يستطيع الممستخدم الاطلاع على التشريعات كما صدرت أول مرة؟</p>

                        </div>
                        <button><span></span></button>
                    </div>
                    <div class="body_">
                        <p>نعم، يمكن للمستخدم الاطلاع على النصوص السابقة للمواد من خلال الضغط على رابط "عرض المواد
                            السابقة</p>
                    </div>
                </div>
                <div class="item_">
                    <div class="head_">
                        <div class="inn_">
                            <div class="no_">03</div>
                            <p>هل يستطيع الممستخدم الاطلاع على التشريعات كما صدرت أول مرة؟</p>

                        </div>
                        <button><span></span></button>
                    </div>
                    <div class="body_">
                        <p>نعم، يمكن للمستخدم الاطلاع على النصوص السابقة للمواد من خلال الضغط على رابط "عرض المواد
                            السابقة</p>
                    </div>
                </div>
                <div class="item_">
                    <div class="head_">
                        <div class="inn_">
                            <div class="no_">04</div>
                            <p>هل يستطيع الممستخدم الاطلاع على التشريعات كما صدرت أول مرة؟</p>

                        </div>
                        <button><span></span></button>
                    </div>
                    <div class="body_">
                        <p>نعم، يمكن للمستخدم الاطلاع على النصوص السابقة للمواد من خلال الضغط على رابط "عرض المواد
                            السابقة</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <section class="section_">
        <div class="container">
            <div class="title_wrapper have_margin between_">
                <div class="section_title">
                    <h2><span>قوانين وروابط ذات علاقة</span></h2>
                </div>
            </div>

            <div class="listing_grid t_animation d2">
                <ul>
                    <li><a href="#">قانون الموارد البشرية في الحكومة الاتحادية</a></li>
                    <li><a href="#">قانون الأحوال الشخصية المدني</a></li>
                    <li><a href="#">قانون تنظيم قيد المواليد والوفيات</a></li>
                    <li><a href="#">قانون التأمين ضد التعطل عن العمل</a></li>
                    <li><a href="#">قانون السير والمرور</a></li>
                    <li><a href="#">مكافحة المواد المخدرة والمؤثرات العقلية</a></li>
                    <li><a href="#">موقع آمر للخدمات الحكومية</a></li>
                </ul>
            </div>
        </div>
    </section>

</main>

<div id="test" class="tooltip_content" style="display: none;">
    <h4>المادة (2): تصنيفات المنشآة - تعديل رقم (4) لسنة 2021</h4>
    <p>يتم تصنيف المنشآت وفق معايير تتضمن النشاط الاقتصادي وحجم العمالة والتنوع الثقافي والديموغرافي للعمالة ومدى
        الالتزام بالأنظمة القانونية ودعم تنفيذ التوجهات الحكومية المتعلقة بالتوطين والتدريب وتنمية المهارات</p>

    <h4>المادة (2): تصنيفات المنشآة - تعديل رقم (6) لسنة 2022</h4>
    <p>يصدر مجلس الوزراء بناءً على اقتراح الوزير القرارات اللازمة لتصنيف المنشآت والامتيازات المقدمة لكل فئة من هذه
        المنشـآت بما يضمن تعزيز تنافسية سوق العمل</p>
</div>

{{> footer}}
{{> script-page}}

<script>



    const bufferHeight = () => {
        const t = document.querySelector('.law_main_desc');
    }

    window.addEventListener('DOMContentLoaded', () => {

        /* var removeActiveClassMenu = function () {
             var t = document.querySelectorAll('[data-href]');
 
             t.forEach(function (el) {
                 el.classList.remove('active_')
             })
         }
 
         inView('.law_main_content .content_')
             .on('enter', function (el) {
                 removeActiveClassMenu();
                 if (!el.id) return;
                 document.querySelector('[data-href=' + el.id + ']').classList.add('active_')
 
             })
 
         inView.offset(250);*/

        if (window.innerWidth > 767) {
            $('.law_main_index').stickit({ top: 100 });
        }

        $('[data-tooltip]').tooltipster({
            animation: 'fade',
            trigger: 'hover'
        })

        $('[data-fancyboxModal]').fancybox({
            modal: true,

        })

        const faqFunction = () => {
            const t = document.querySelectorAll('.faq_wrapper .item_');

            t.forEach((el) => {
                const b = el.querySelector('.head_');

                b.addEventListener('click', (e) => {
                    el.classList.toggle('active_')
                })
            })
        }

        faqFunction();
    })
</script>