{{> loader}}
{{> header}}

<main class="page_">

    <div class="breadcrumb_wrapper">
        <div class="container">
            <ul class="breadcrumb_">
                <li><a href="{{menuLink 'index'}}">الصفحة الرئيسية</a></li>
                <li><span>سياسة الخصوصية</span></li>
            </ul>
        </div>
    </div>

    <section class="section_">
        <div class="container">

            <div class="title_wrapper have_margin between_">
                <div class="section_title">
                    <h2><span>سياسة الخصوصية</span></h2>
                </div>

                <ul class="icon_link_list">
                    <li><a href="{{menuLink 'index'}}"><i class="icon-back"></i></a></li>
                </ul>
            </div>

            <div class="text_area animated_wrapper d_2 sm_">
                <p>عتبر سياسة وشروط الخصوصية الموضحة أدناه جزءاً من شروط استخدام هذا الموقع الإلكتروني وأحكامه.لا يقوم هذا الموقع بجمع معلومات شخصية عنك عندما تقوم بزيارة الموقع إلا إذا اخترت تحديداً وبمعرفتك تقديم هذه المعلومات لنا. وفي حال اخترت تقديم معلومات لنا، فإننا لا نستخدمها إلا لإنجاز طلبك للحصول على معلومات أو خدمات. وباستخدامك هذا الموقع، فإنك توافق على شروط سياسة الخصوصية هذه.</p>
                <p>تحتفظ الأمانة العامة لمجلس الوزراء بالحق في إجراء أي تعديل طفيف أو جذري لشروط سياسة الخصوصية من وقت لآخر من دون الحاجة إلى تقديم إخطار بذلك. وإذا كنت ترغب بالاستمرار في استخدام موقعنا بعد إدخال التعديلات على سياسة الخصوصية هذه، فإن هذا يعني قبولك لهذه التغييرات .</p>
                <p>ويتبع هذا الموقع والعاملين فيه سياسة أمن معلومات شاملة وصارمة. ولا يتاح إلا للموظفين المخولين فقط بالوصول إلى المعلومات الشخصية التعريفية وقد تعهد هؤلاء الموظفون بتأمين سرية هذه المعلومات</p>
                <p>يحق للأمانة العامة لمجلس الوزراء اتخاذ التدابير التي تراها ملائمة للحماية من أي فقدان أو إساءة استخدام أو تغيير للمعلومات الموجودة على للموقع الإلكتروني وذلك من دون أن تضمن الأمانة العامة لمجلس الوزراء ، في هذه الحال، الاحتفاظ بسرية محتويات هذا الموقع الإلكتروني, ولا تعتبر مسؤولة قانوناً عن أي ضرر قد تتعرض له أنت أو أي شخص آخر نتيجة لانتهاك السرية بشأن المعلومات التي تكون قد نقلتها إلى الموقع أو التعويض عنه.</p>
                <p>كما يقوم الموقع بتنفيذ إجراءات دقيقة للحماية من فقد المعلومات أو إساءة استخدامها أو تغييرها . ومع ذلك فإن الأمانة العامة لمجلس الوزراء لا يمكنها أن تضمن سرية استخدامك لهذا الموقع، وهي لا تعتبر مسؤولة عن أي ضرر قد تتعرض له أنت أو أي شخص نتيجة لانتهاك السرية بشأن المعلومات التي تكون قد نقلتها إلى الموقع.</p>
                <p>تكون قوانين دولة الإمارات العربية المتحدة وحدها هي القوانين واجبة التطبيق في كل ما يتعلق بالنزاعات التي قد تنشأ من جراء استخدام هذا الموقع الإلكتروني , كما تختص محاكم دولة الإمارات العربية المتحدة حصرياً بالنظر في تلك النزاعات والبت فيها</p>
            </div>

        </div>
    </section>

</main>

{{> footer}} 
{{> script-page}}