{{> loader}}
{{> header}}

<main class="page_">

    <div class="breadcrumb_wrapper">
        <div class="container">
            <ul class="breadcrumb_">
                <li><a href="{{menuLink 'index'}}">الصفحة الرئيسية</a></li>
                <li><span>يسجل</span></li>
            </ul>   
        </div>
    </div>

    <section class="section_">
        <div class="container">

            <div class="title_wrapper have_margin between_">
                <div class="section_title">
                    <h2><span>يسجل</span></h2>
                </div>

                <ul class="icon_link_list">
                    <li><a href="{{menuLink 'index'}}"><i class="icon-back"></i></a></li>
                </ul>
            </div>

            <form action="#" class="form_ animated_wrapper d_2">

                <div class="input_ full_">
                    <div class="input_group">
                        <label>هل أنت مستخدم جهة حكومية؟</label>

                        <div class="input_checkbox">
                            <input type="radio" name="user" checked/>
                            <span></span>
                            <label>نعم</label>
                        </div>

                        <div class="input_checkbox">
                            <input type="radio" name="user"/>
                            <span></span>
                            <label>لا</label>
                        </div>
                    </div>
                </div>

                <div class="input_">
                    <label for="jobtitle">Job Title</label>
                    <input type="text" name="jobtitle">
                </div>

                <div class="input_">
                    <select id="entity">
                        <option readonly >Choose Entity</option>
                        <option>Entity 1</option>
                        <option>Entity 2</option>
                        <option>Entity 3</option>
                        <option>Entity 4</option>
                    </select>
                </div>

                <div class="input_">
                    <label for="fname">First Name</label>
                    <input type="text" name="fname">
                </div>

                <div class="input_">
                    <label for="lname">Last Name</label>
                    <input type="text" name="lname">
                </div>

                <div class="input_">
                    <label for="phone">Phone Number</label>
                    <input type="text" name="phone">
                </div>

                <div class="input_">
                    <label for="email">Email ID</label>
                    <input type="text" name="email">
                </div>

                <div class="input_ date_">
                    <label for="dob">Date of Birth</label>
                    <input type="text" name="dob" id="dob">
                </div>

                <div class="input_">
                    <label for="password">Password</label>
                    <input type="password" name="password" autocomplete="off">
                </div>

                <div class="input_">
                    <label for="cpassword">Confirm Password</label>
                    <input type="password" name="cpassword" autocomplete="off">
                </div>

                <div class="input_ full_">
                    <ul class="requirement_list">
                        <li>Minimum length of 8 characters</li>
                        <li>Contains at least one lowercase alphabet (a to z)</li>
                        <li>Contains at least one uppercase alphabet (A to Z)</li>
                        <li>Contains at least one number (0 to 9)</li>
                        <li>Contains at least one special character (~!@#$%-*_^)</li>
                        <li>Password strength is sufficient</li>
                    </ul>
                </div>

                <div class="btn_group full_ ">
                    <button type="submit" class="btn_">
                        <span>المزيد</span>
                        <i class="icon-arrow-left"></i>
                    </button>
                </div>

            </form>

        </div>
    </section>

</main>

{{> footer}} 
{{> script-page}}

<script src="{{assets}}/scripts/vendor/datepicker.js"></script>

<script>

    window.addEventListener('DOMContentLoaded',function() {

        const picker = datepicker('#dob', {
            onSelect: function(event){
                console.log(event)
            }
        })

        const entitySelect = new SlimSelect({
            select: '#entity'
        })

    });

</script>