{{> loader}}
{{> header}}

<main class="page_">

    <div class="breadcrumb_wrapper">
        <div class="container">
            <ul class="breadcrumb_">
                <li><a href="{{menuLink 'index'}}">الصفحة الرئيسية</a></li>
                <li><span>بحث</span></li>
            </ul>
        </div>
    </div>


    <section class="section_">
        <div class="container">

            <div class="title_wrapper have_margin between_">
                <div class="section_title">
                    <h2><span>نتائج البحث (82)</span></h2>
                </div>

                <ul class="icon_link_list">
                    <li><a href="{{menuLink 'index'}}"><i class="icon-back"></i></a></li>
                </ul>
            </div>

            <form action="#" class="form_ search_filter t_animation d2">
                <div class="input_ full_ search_">
                    <label for="search">بحث</label>
                    <input type="text" name="search">
                </div>

                <div class="input_">
                    <select id="select1">
                        <option readonly >نوع التشريع</option>
                        <option>نوع التشريع</option>
                        <option>نوع التشريع</option>
                        <option>نوع التشريع</option>
                        <option>نوع التشريع</option>
                    </select>
                </div>

                <div class="input_ date_">
                    <label for="picker">سنة التشريع</label>
                    <input type="text" name="picker" id="picker">
                </div>

                 <div class="input_">
                    <select id="select2">
                        <option readonly >المواضيع</option>
                        <option>المواضيع</option>
                        <option>المواضيع</option>
                        <option>المواضيع</option>
                        <option>المواضيع</option>
                    </select>
                </div>

                <div class="input_">
                    <div class="btn_group">
                        <button type="submit" class="btn_"><span>Search</span></button>
                        <button class="btn_ outline_"><span>Reset</span></button>
                    </div>
                </div>

            </form>

            <div class="search_wrapper t_animation d3">
                <div class="search_result_name">"تشريعات "</div>

                <div class="search_result_list">
                    <div class="item_">
                        <div class="t_"><a href="#">تشريعات </a>الإمارات العربية المتحدة</div>
                        <div class="d_">إنها سلسلة من الكلمات اللاتينية التي ، عند وضعها في موضعها ، لا تشكل جملًا بمعنى كامل ، ولكنها تعطي الحياة لنص اختبار مفيد لملء الفراغات التي يتم شغلها لاحقًا من نصوص مخصصة كتبها متخصصون في الاتصالعند الإشارة إلى Lorem ipsum ، يتم استخدام تعبيرات مختلفة ، وبالتحديد ملء النص أو نص وهمي أو نص مخفي أو < قوي> نص عنصر نائب : باختصار ، يمكن أن يكون معناه أيضًا صفريًا ، ولكن فائدته واضحة جدًا بحيث تستمر عبر القرون وتقاوم الإصدارات السخرية والحديثة التي جاءت مع وصول الويب</div>
                    </div>

                    <div class="item_">
                        <div class="t_"><a href="#">تشريعات </a>الإمارات العربية المتحدة</div>
                        <div class="d_">إنها سلسلة من الكلمات اللاتينية التي ، عند وضعها في موضعها ، لا تشكل جملًا بمعنى كامل ، ولكنها تي الاتصالعند الإشارة إلى Lorem ipsum ، يتم استخدام تعبيرات مختلفة ، وبالتحديد ملء النص أو نص وهمي أو نص مخفي أو < قوي> نص عنصر نائب : باختصار ، يمكن أن يكون معناه أيضًا صفريًا ، ولكن فائدته واضحة جدًا بحيث تستمر عبر القرون وتقاوم الإصدارات السخرية والحديثة التي جاءت مع وصول الويب</div>
                    </div>

                    <div class="item_">
                        <div class="t_"><a href="#">تشريعات </a>الإمارات العربية المتحدة</div>
                        <div class="d_">إنها سلسلة من الكلمات اللاتينية التي ، عند ipsum ، يتم استخدام تعبيرات مختلفة ، وبالتحديد ملء النص أو نص وهمي أو نص مخفي أو < قوي> نص عنصر نائب : باختصار ، يمكن أن يكون معناه أيضًا صفريًا ، ولكن فائدته واضحة جدًا بحيث تستمر عبر القرون وتقاوم الإصدارات السخرية والحديثة التي جاءت مع وصول الويب</div>
                    </div>

                    <div class="item_">
                        <div class="t_"><a href="#">تشريعات </a>الإمارات العربية المتحدة</div>
                        <div class="d_">إنها سلسلة من الكلمات اللاتينية التي ، عند وضعها في موضعها ، لا تشكل جملًا بمعنحة جدًا بحيث تستمر عبر القرون وتقاوم الإصدارات السخرية والحديثة التي جاءت مع وصول الويب</div>
                    </div>

                    <div class="item_">
                        <div class="t_"><a href="#">تشريعات </a>الإمارات العربية المتحدة</div>
                        <div class="d_">إنها سلسلة من الكلمات اللاتينية التي ، عند وضعها في موضعها ، لا تشكل جملًا بمعنم استخدام تعبيرات مختلفة ، وبالتحديد ملء النص أو نص وهمي أو نص مخفي أو < قوي> نص عنصر نائب : باختصار ، يمكن أن يكون معناه أيضًا صفريًا ، ولكن فائدمر عبر القرون وتقاوم الويب</div>
                    </div>
                    
                </div>
            </div>

        </div>
    </section>

</main>

{{> footer}} 
{{> script-page}}

<script src="{{assets}}/scripts/vendor/datepicker.js"></script>

<script>

    window.addEventListener('DOMContentLoaded',function() {

        const picker = datepicker('#picker', {
            onSelect: function(event){
                console.log(event)
            }
        })

        const selec1 = new SlimSelect({
            select: '#select1'
        })

        const selec2 = new SlimSelect({
            select: '#select2'
        })

    });

</script>