{{> loader}}
{{> header}}

<main class="page_">

    <div class="breadcrumb_wrapper">
        <div class="container">
            <ul class="breadcrumb_">
                <li><a href="{{menuLink 'index'}}">الصفحة الرئيسية</a></li>
                <li><span>التشريعات</span></li>
            </ul>
        </div>
    </div>

    <section class="section_">
        <div class="container">

            <div class="title_wrapper have_margin between_">
                <div class="section_title">
                    <h2><span>الشروط والأحكام</span></h2>
                </div>

                <ul class="icon_link_list">
                    <li><a href="{{menuLink 'index'}}"><i class="icon-back"></i></a></li>
                </ul>
            </div>

            <div class="text_area animated_wrapper d_2 sm_">
                <p>تنطبق قواعد استخدام موقع الحكومة الإلكترونية لدولة الإمارات العربية المتحدة على جميع زوار ومستخدمي الموقع. ويجوز إيقاف و/أو منع و/أو إنهاء استخدام الموقع في حال حدوث انتهاك من قبل احد المستخدمين، أو في حال توفرت أسباب تدعو للاعتقاد بأن احد المستخدمين قد انتهك وخالف شروط وقواعد الاستخدام.</p>

                <p>ويُحظر على المستخدمين انتهاك أو محاولة انتهاك الإجراءات والقواعد المعمول بها لحماية الموقع، وعلى سبيل المثال، لا الحصر الأعمال التالية:</p>

                <ul>
                    <li>الوصول إلى البيانات التي لا يقصد تقديمها لهذا المستخدم، أو الدخول على خادم أو حساب لا يصرح للمستخدم بالدخول عليه</li>
                    <li>محاولة إجراء اختبار أو مسح أو فحص لإمكانية إصابة نقاط الضعف في نظام أو شبكة حكومة دولة الإمارات العربية المتحدة أو انتهاك سلامة الإجراءات أو توثيقها دون تصريح رسمي من الأمانة العامة لمجلس الوزراء محاولة التدخل في الخدمة المقدمة لأي مستخدم أو مستضيف أو شبكة، بما في ذلك على سبيل المثال وليس الحصر، عن طريق وضع فيروس على الموقع، أو زيادة الحمل عليه أو غمره، أو إرسال رسائل دعائية إليه، أو إغراقه بالرسائل الإلكترونية أو تحطيمه </li>
                    <li>إرسال رسائل إلكترونية غير مرغوب فيها إلى الموقع، بما في ذلك عمليات الدعاية، و/أو الإعلان عن المنتجات أو الخدمات؛ أو تزييف أي عنوان لحزمة بروتوكول التحكم في الإرسال / بروتوكول الإنترنت أو أي جزء من معلومات العنوان في أي رسالة إلكترونية أو إرسال رسائل مجموعات إخبارية .</li>
                    <li>استخدام موقع الحكومة الإلكترونية لدولة الإمارات العربية المتحدة بأي طريقة كانت لإرسال بريد الكتروني أو أية أمور منه أو نيابة عنه أو من خلال الإشارة إليه أو بانتحال اسمه أو صفته تتضمن الإساءة أو التشهير الأمانة العامة لمجلس الوزراء ، أو بالموقع أو بأي شخص كان. أو الإعلان عن أخبار أو معلومات غير صحيحة ونسبتها الأمانة العامة لمجلس الوزراء بدون وجه حق</li>
                </ul>
            </div>

        </div>
    </section>

</main>

{{> footer}} 
{{> script-page}}