<section class="home-banner" id="home">

  <div class="banner_bg">
    <picture>
        <source srcset="{{assets}}/images/banner_img.webp" type="image/webp">
        <source srcset="{{assets}}/images/banner_img.jpg" type="image/jpeg">
        <img src="{{assets}}/images/banner_img.webp" loading="lazy">
    </picture>
  </div>

  <div class="banner_content">
    <div class="content_">
        <h1>
            <span>جبل الفجيرة</span>
            <span>اطلاق الرصاص</span>
            <span>بطولة</span>
        </h1>
        <p>للجزيرة العربية تقليد قديم في الصيد وتحديداً في الإمارات العربية المتحدة ، حيث بدأ هذا التقليد بالصقور وانتقل إلى طرق أخرى للصيد مثل البنادق.</p>

        <div class="btn_group m_t_sm">
            <a href="{{menuLink 'get-your-pass'}}" class="btn_ lg_">
                <span>احصل على تصريح المرور الخاص بك</span>
            </a>
        </div>
    </div>
  </div>

</section>
 