<section class="home_banner" id="home">

  <div class="container">
    <div class="banner_wrapper">

      <div class="banner_content">
        <div class="swiper-container">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="content_">
                <h2>
                  <span>تشريعات الإمارات</span>
                  <span>العربية المتحدة</span>
                </h2>
                <p>تماشياً مع الاستراتيجية التي أطلقتها الأمانة العامة لمجلس الوزراء في رفع جودة التشريعات الاتحادية في
                  عام 2015 أنشأ مكتب الشؤون القانونية في الأمانة العامة لمجلس الوزراء قاعدة بيانات إلكترونية تتضمن أهم
                  التشريعات الاتحادية في دولة الإمارات العربية المتحدة منذ نشأتها عام 1971 وحتى الآن</p>
                <div class="btn_group">
                  <a href="#" class="btn_">
                    <span>المزيد</span>
                    <i class="icon-arrow-left"></i>
                  </a>
                
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="content_">
                <h2>
                  <span>تشريعات الإمارات</span>
                  <span>العربية المتحدة</span>
                </h2>
                <p>تماشياً مع الاستراتيجية التي أطلقتها الأمانة العامة لمجلس الوزراء في رفع جودة التشريعات الاتحادية في
                  عام 2015 أنشأ مكتب الشؤون القانونية في الأمانة العامة لمجلس الوزراء قاعدة بيانات إلكترونية تتضمن أهم
                  التشريعات الاتحادية في دولة الإمارات العربية المتحدة منذ نشأتها عام 1971 وحتى الآن</p>
                <div class="btn_group">
                  <a href="#" class="btn_">
                    <span>المزيد</span>
                    <i class="icon-arrow-left"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="content_">
                <h2>
                  <span>تشريعات الإمارات</span>
                  <span>العربية المتحدة</span>
                </h2>
                <p>تماشياً مع الاستراتيجية التي أطلقتها الأمانة العامة لمجلس الوزراء في رفع جودة التشريعات الاتحادية في
                  عام 2015 أنشأ مكتب الشؤون القانونية في الأمانة العامة لمجلس الوزراء قاعدة بيانات إلكترونية تتضمن أهم
                  التشريعات الاتحادية في دولة الإمارات العربية المتحدة منذ نشأتها عام 1971 وحتى الآن</p>
                <div class="btn_group">
                  <a href="#" class="btn_">
                    <span>المزيد</span>
                    <i class="icon-arrow-left"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="content_">
                <h2>
                  <span>تشريعات الإمارات</span>
                  <span>العربية المتحدة</span>
                </h2>
                <p>تماشياً مع الاستراتيجية التي أطلقتها الأمانة العامة لمجلس الوزراء في رفع جودة التشريعات الاتحادية في
                  عام 2015 أنشأ مكتب الشؤون القانونية في الأمانة العامة لمجلس الوزراء قاعدة بيانات إلكترونية تتضمن أهم
                  التشريعات الاتحادية في دولة الإمارات العربية المتحدة منذ نشأتها عام 1971 وحتى الآن</p>
                <div class="btn_group">
                  <a href="#" class="btn_">
                    <span>المزيد</span>
                    <i class="icon-arrow-left"></i>
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="banner_image">
        <div class="image_capsule_wrapper">

          <div class="item_">
            <div class="placeholder_capsule"></div>
          </div>

          <div class="item_">
            <div class="img_capsule">
              <div class="img_">
                  <picture>
                    <source srcset="{{assets}}/images/banner-img-02.webp" type="image/webp">
                    <source srcset="{{assets}}/images/banner-img-02.jpg" type="image/jpeg">
                    <img src="{{assets}}/images/banner-img-02.webp" alt="UAE">
                  </picture>
                </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>

<div class="floating_links">
  <div class="item_">
    <a href="#introPopup" class="link_" data-tooltip title="مشاركة" data-fancybox>
      <svg xmlns="http://www.w3.org/2000/svg" width="35.449" height="35.446" viewBox="0 0 35.449 35.446">
        <g id="Group_5082" data-name="Group 5082" transform="translate(548 32)">
          <path id="Path_5873" data-name="Path 5873" d="M-538.448-32a2.172,2.172,0,0,1,1.452.972,9.977,9.977,0,0,1,.516,1.41,6.058,6.058,0,0,1,1.215.014,2.168,2.168,0,0,1,1.721,2.144c.01.437,0,.874,0,1.3a6.131,6.131,0,0,1,1.074-.063,2.194,2.194,0,0,1,1.967,2.219c.014.865,0,1.73,0,2.6v.405a2.243,2.243,0,0,1,1.979.531,2.2,2.2,0,0,1,.734,1.817h1.659v-2.682c0-.923,0-1.846,0-2.769a2.211,2.211,0,0,1,2.906-2.246c.033.009.067.01.131.019a2.314,2.314,0,0,1,.831-1.958,2.15,2.15,0,0,1,1.407-.5c1.261,0,2.008.829,2.223,2.392a7.208,7.208,0,0,1,1.333.014,2.138,2.138,0,0,1,1.686,2.059c.012.46,0,.921,0,1.409.221-.037.418-.082.617-.1a2.185,2.185,0,0,1,2.422,2.136c.018,2.376.031,4.753-.008,7.129a7.674,7.674,0,0,1-1.246,4.012.692.692,0,0,1-.951.289.675.675,0,0,1-.234-.987,7.624,7.624,0,0,0,1.071-4.294c-.035-2-.007-3.991-.01-5.987a.832.832,0,0,0-.641-.9.821.821,0,0,0-1.016.869c-.006,1.269,0,2.538,0,3.807a2.682,2.682,0,0,1-.007.311.7.7,0,0,1-.677.62.7.7,0,0,1-.693-.6,2.5,2.5,0,0,1-.009-.346q0-3.5,0-6.991c0-.115.005-.231,0-.346a.828.828,0,0,0-.821-.777.833.833,0,0,0-.83.769c-.011.114-.005.231-.005.346q0,3.5,0,6.991a2.81,2.81,0,0,1-.008.346.694.694,0,0,1-.685.61.7.7,0,0,1-.678-.581,2.363,2.363,0,0,1-.013-.38q0-4.724,0-9.448a.905.905,0,0,0-.408-.859.824.824,0,0,0-1.252.727c-.017.784,0,1.569,0,2.353q0,3.236,0,6.472c0,.1.005.208,0,.311a.691.691,0,0,1-.686.646.692.692,0,0,1-.687-.645c-.015-.16-.006-.323-.006-.484q0-3.132,0-6.264a.847.847,0,0,0-.466-.823.773.773,0,0,0-.85.075.862.862,0,0,0-.348.753c0,.784,0,1.569,0,2.353q0,3.115,0,6.229v.319a9.213,9.213,0,0,1,1.171.008,2.133,2.133,0,0,1,1.862,2.051c.022,2.434.058,4.87-.014,7.3a7.474,7.474,0,0,1-2.419,5.345,2.2,2.2,0,0,0-.825,2.035,7.673,7.673,0,0,1,.006,1.21.7.7,0,0,1-.7.748.687.687,0,0,1-.683-.752c-.006-.865-.02-1.731.01-2.6a1.106,1.106,0,0,1,.268-.637c.4-.459.869-.861,1.273-1.319a6.6,6.6,0,0,0,1.7-4.419c.02-2.226.007-4.453,0-6.679a.85.85,0,0,0-.833-.946.851.851,0,0,0-.825.953c0,1.269,0,2.538,0,3.807,0,.553-.27.888-.7.879s-.681-.336-.682-.867q0-3.634,0-7.267a.832.832,0,0,0-.741-.922.819.819,0,0,0-.915.852c-.011.773,0,1.546,0,2.319,0,1.7,0,3.391,0,5.087,0,.591-.461.948-.948.739a.727.727,0,0,1-.437-.754c0-1.442,0-2.884,0-4.326,0-1.777,0-3.553,0-5.33a.832.832,0,0,0-1.123-.866.85.85,0,0,0-.536.881q0,2.544,0,5.087c0,1.534,0,3.068,0,4.6a.684.684,0,0,1-.948.7.729.729,0,0,1-.436-.754q.006-3.5,0-6.991c0-.15.005-.3,0-.45a.817.817,0,0,0-.824-.805.821.821,0,0,0-.83.8c-.008.115,0,.231,0,.346q0,4.032,0,8.064a.85.85,0,0,1-1.135.9.825.825,0,0,1-.542-.623c-.168-.682-.334-1.365-.508-2.045-.142-.558-.453-.82-.927-.8a.821.821,0,0,0-.807.9c.356,1.771.7,3.546,1.152,5.3a5.452,5.452,0,0,0,1.584,2.441c.5.5,1.013.979,1.486,1.5a1.147,1.147,0,0,1,.295.664c.034.852.015,1.707.013,2.56a.711.711,0,0,1-.416.7.571.571,0,0,1-.7-.1,1.068,1.068,0,0,1-.252-.605c-.031-.668-.024-1.338-.006-2.007a.757.757,0,0,0-.256-.6c-.625-.63-1.269-1.246-1.84-1.924A8.551,8.551,0,0,1-538.5-6.055c-.2-1.135-.447-2.26-.649-3.394a2.21,2.21,0,0,1,1.075-2.325,2.252,2.252,0,0,1,2.531.188c.078.06.155.122.28.221v-.491q0-2.2,0-4.4a2.228,2.228,0,0,1,2.975-2.352,9.761,9.761,0,0,0,.415-3.165c-.056-.722,0-1.453-.013-2.179a.85.85,0,0,0-.832-.916.836.836,0,0,0-.823.915c0,1.015,0,2.03,0,3.045a.719.719,0,0,1-.689.794.709.709,0,0,1-.693-.782c0-.092,0-.185,0-.277V-27.12c0-.092,0-.185,0-.277a.832.832,0,0,0-.857-.884.811.811,0,0,0-.8.895c0,2.411,0,4.822,0,7.233a1.582,1.582,0,0,1-.058.476.652.652,0,0,1-.7.444.674.674,0,0,1-.613-.6,3.557,3.557,0,0,1-.008-.38q0-4.62,0-9.24c0-.1,0-.208,0-.311a.843.843,0,0,0-.832-.844.821.821,0,0,0-.824.878c-.007.992,0,1.984,0,2.976q0,3.305,0,6.61a1.533,1.533,0,0,1-.071.508.644.644,0,0,1-.727.4.647.647,0,0,1-.571-.565,2.18,2.18,0,0,1-.012-.38q0-3.565,0-7.129c0-.616-.346-.987-.88-.963a.8.8,0,0,0-.77.709,3.288,3.288,0,0,0-.009.38q0,3.963,0,7.925a3.436,3.436,0,0,1-.006.346.837.837,0,0,1-.777.792.8.8,0,0,1-.882-.617c-.192-.7-.354-1.407-.532-2.11a.88.88,0,0,0-1.075-.762.883.883,0,0,0-.619,1.135q.385,1.949.77,3.9a6.807,6.807,0,0,0,1.967,3.617c.485.477.984.943,1.436,1.451a1.214,1.214,0,0,1,.307.727c.018,4.464.014,8.929.012,13.393a1.366,1.366,0,0,1-.033.309.677.677,0,0,1-.684.522.67.67,0,0,1-.645-.568,2.984,2.984,0,0,1-.02-.449q0-6.333,0-12.666a.791.791,0,0,0-.273-.666c-.26-.227-.484-.5-.741-.727a8.859,8.859,0,0,1-2.844-5.392c-.166-1.069-.41-2.126-.621-3.188a.758.758,0,0,0-.066-.151v-.761c.021-.052.046-.1.062-.157a2.244,2.244,0,0,1,3.694-1.163,1.351,1.351,0,0,0,.182.1c0-1.734-.007-3.428,0-5.121a2.141,2.141,0,0,1,1.721-2.134,7.222,7.222,0,0,1,1.314-.013c-.012.035,0,.014,0-.008,0-.069,0-.138.008-.207a2.165,2.165,0,0,1,1.237-1.935A5.718,5.718,0,0,1-539.21-32Z" fill="#fff"/>
          <path id="Path_5874" data-name="Path 5874" d="M-213.75,260.584c0,1.044,0,2.087,0,3.131a.693.693,0,0,1-.309.659.606.606,0,0,1-.913-.434,1.259,1.259,0,0,1-.008-.184q0-3.177,0-6.353c0-.443.249-.709.635-.695.366.013.59.277.591.714C-213.748,258.476-213.75,259.53-213.75,260.584Z" transform="translate(-301.703 -261.025)" fill="#fff"/>
          <path id="Path_5875" data-name="Path 5875" d="M-213.73,223.681a.614.614,0,0,1-.68.559.6.6,0,0,1-.538-.663.6.6,0,0,1,.658-.542A.609.609,0,0,1-213.73,223.681Z" transform="translate(-301.728 -231.343)" fill="#fff"/>
        </g>
      </svg>
    </a>
  </div>

  <div class="item_">
    <a href="#" class="link_" data-tooltip title=" أحدث التشريعات">
      <svg xmlns="http://www.w3.org/2000/svg" width="35.81" height="33.221" viewBox="0 0 35.81 33.221">
        <path id="Path_5876" data-name="Path 5876" d="M-143.366,171.4c.86,0,1.689.044,2.512-.01a2.485,2.485,0,0,1,2.865,2.564c.772,0,1.548-.009,2.323,0a4.1,4.1,0,0,1,.953.1,2.512,2.512,0,0,1,1.882,2.345c.017.407.013.816,0,1.224a.606.606,0,0,1-.643.657c-.1.006-.2,0-.3,0h-23.326c-.8,0-.957-.147-.946-.949a8.01,8.01,0,0,1,.071-1.365,2.451,2.451,0,0,1,2.278-1.994c.789-.041,1.582-.016,2.373-.02h.428a8.042,8.042,0,0,1,.144-.874,2.328,2.328,0,0,1,2.277-1.678c.952-.011,1.9-.006,2.855-.009a.581.581,0,0,0,.111-.03c.005-.116.017-.247.017-.377q0-9.086.006-18.172a.731.731,0,0,0-.29-.579c-.42-.408-.778-.88-1.172-1.317a.569.569,0,0,0-.331-.214c-2.484-.012-4.968-.009-7.491-.009a2.391,2.391,0,0,0,.086.278c1.511,3.448,3.036,6.889,4.516,10.349a2.372,2.372,0,0,1,.026,1.229,5.649,5.649,0,0,1-5.614,4.744,5.673,5.673,0,0,1-5.543-4.834,2.7,2.7,0,0,1,.2-1.575c1.571-3.515,3.1-7.048,4.641-10.578a3,3,0,0,0,.195-.67,2.662,2.662,0,0,1,2.555-2.225q2.818-.059,5.637,0a1.482,1.482,0,0,0,1.457-.712,3.931,3.931,0,0,1,6.616.368.564.564,0,0,0,.579.327c1.966-.01,3.931-.007,5.9-.005a2.708,2.708,0,0,1,2.942,2.473,1.914,1.914,0,0,0,.139.42c1.615,3.685,3.242,7.364,4.832,11.06a2.224,2.224,0,0,1,.033,1.122,5.661,5.661,0,0,1-5.577,4.833,5.682,5.682,0,0,1-5.59-4.784,2.833,2.833,0,0,1,.209-1.681c1.447-3.233,2.854-6.483,4.274-9.728.053-.121.1-.246.164-.406h-.339c-2.348,0-4.7,0-7.046-.005a.541.541,0,0,0-.491.28c-.364.474-.8.894-1.193,1.347a.748.748,0,0,0-.215.418q-.016,9.2-.008,18.394C-143.388,171.2-143.377,171.277-143.366,171.4Zm9.318,5.687a1.5,1.5,0,0,0-1.63-1.956c-1.172.054-2.348.03-3.522.029-5.365,0-10.73,0-16.1-.03a1.471,1.471,0,0,0-1.5,1.957Zm.882-25.5-4.138,9.456h8.278Zm-24.539,0-4.14,9.458h8.28Zm13.115,19.794V153.017h-1.678v18.362Zm-17.507-9.106a4.452,4.452,0,0,0,4.5,3.835,4.432,4.432,0,0,0,4.29-3.835Zm24.539,0a4.462,4.462,0,0,0,4.467,3.84,4.437,4.437,0,0,0,4.317-3.84Zm-5.109-13.175a2.755,2.755,0,0,0-2.705-2.841,2.753,2.753,0,0,0-2.826,2.757,2.725,2.725,0,0,0,2.653,2.8A2.7,2.7,0,0,0-142.667,149.095Zm-8.978,24.8h12.426a1.154,1.154,0,0,0-1.207-1.307q-5.007-.009-10.012,0A1.152,1.152,0,0,0-151.645,173.9Zm17.767-24.4a1.572,1.572,0,0,0-1.482-.909q-2.911,0-5.822,0a1.708,1.708,0,0,0-.247.037v.871Zm-23.091-.006h7.527V148.6c-.147-.006-.279-.017-.411-.017q-2.744,0-5.488,0a2.891,2.891,0,0,0-.517.031A1.486,1.486,0,0,0-156.969,149.489Z" transform="translate(163.332 -145.064)" fill="#fff"/>
      </svg>
    </a>
  </div>

</div>