<footer>
  <div class="container">

    <div class="footer_bg"></div>

    <div class="footer_wrapper">
      <ul>
        <li><a href="{{menuLink 'terms'}}">البنود و الظروف</a></li>
        <li><a href="{{menuLink 'privacy'}}">سياسة الخصوصية</a></li>
        <li><a href="{{menuLink 'faq'}}">أسئلة وأجوبة</a></li>
      </ul>

      <p>© 2022 - بطولة الفجيرة للرماية الجبلية</p>
    </div>
  </div>
</footer>
