video::-webkit-media-controls-mute-button,
video::-webkit-media-controls-volume-slider-container,
video::-webkit-media-controls-volume-slider {
  display: none;
}

.home_banner {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @media screen and (min-width: 1920px) {
    width: 100%;
    max-width: 1740px;
    min-width: 1740px;
  }

  .bg_layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 7.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-inline: 1.5rem;
    transform-origin: center;
    transform: scale(0.85);
    opacity: 0;
    transition: all 0.8s var(--ease) 1s;

    .main_bg {
      position: relative;
      display: block;
      width: 55vw;
      height: auto;

      @media only screen and (min-width: 767px) and (max-width: 1200px) {
        width: 55%;
      }

      @media only screen and (max-width: 767px) {
        width: 100%;
        height: auto;
      }

      & > svg {
        position: relative;
        display: block;
        width: auto;
        height: 100%;

        .layer_1,
        .layer_2 {
          position: relative;
          transform-origin: center;
          transform-box: fill-box;
        }

        .layer_1 {
          animation: clipMaskAnim 2s cubic-bezier(0.05, 0.29, 0.51, 0.91) 0.5s
            infinite;
        }

        .layer_2 {
          animation: clipMaskAnim 2s cubic-bezier(0.05, 0.29, 0.51, 0.91) 0s
            infinite;
        }
      }
    }
  }

  .banner_wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
    padding-top: 1rem;

    @media only screen and (min-width: 767px) and (max-width: 1200px) {
      padding-top: 0;
      grid-template-columns: 100%;
    }

    @media only screen and (max-width: 767px) {
      display: flex;
      flex-direction: column-reverse;
      padding-top: 1.5rem;
    }
  }

  .swiper-container {
    width: 100%;
  }

  .banner_image {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    .item_{
      position: relative;
      display: block;
      transform: translateX(15%) translateY(-15%);
      transition: all 0.8s var(--ease);
      opacity: 0;

      &:nth-child(1){
        transition-delay: 0.8s;
      }

      &:nth-child(2){
        transition-delay: 1s;
      }

    }

    .image_capsule_wrapper{
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      gap: 2rem;
      width: 100%;
      height: 100%;
      transform: translateX(6.5%);


      @media only screen and (max-width: 767px) {
        margin-bottom: 2rem;
      }

      .img_capsule{
        position: relative;
        display: block;
        overflow: hidden;
        width: 27.5rem;
        height: 42.5rem;
        border-radius: 13.75rem;

        @media only screen and (min-width: 767px) and (max-width: 1200px) {
          width: 22rem;
          height: 37.5rem;
          border-radius: 11rem;
        }

        @media only screen and (max-width: 767px) {
          width: 13rem;
          height: 22rem;
          border-radius: 6.5rem;
        }
        

        &:before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0.3;
          background: var(--primary-color);
          background: linear-gradient(0deg, var(--primary-color) 0%, #344b6100 80%);

        }

        .img_{
          overflow: hidden;
          border-radius: 13.75rem;
          transform-origin: center;
          border: 1.5rem solid transparent;

          @media only screen and (min-width: 767px) and (max-width: 1200px) {
            border-radius: 11rem;
          }

          @media only screen and (max-width: 767px) {
            border-radius: 6.5rem;
            border: 0.85rem solid transparent;
          }

          &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--primary-color);
            background: linear-gradient(0deg, var(--primary-color) 0%, var(--secondary-color) 100%);
            opacity: 0.3;
          }


        }

      }

      .placeholder_capsule{
        position: relative;
        display: block;
        overflow: hidden;
        background-color: red;
        width: 14rem;
        height: 22rem;
        border-radius: 7rem;
        overflow: hidden;
        background: var(--secondary-color);
        background: linear-gradient(0deg, var(--secondary-color) 0%, rgba(253,187,45,0) 80%);
        opacity: 0.18;

        @media only screen and (max-width: 767px) {
          width: 7rem;
          height: 8rem;
          border-radius: 3.5rem;
        }

      }

      .img_capsule, .placeholder_capsule{
        transform: rotate(45deg);
        transform-origin: center;
      }

    }
  
  }

  .banner_content {
    position: relative;
    display: block;
    width: 100%;

    @media only screen and (min-width: 1200px) {
      padding-inline-end: 7.5%;
    }

    .content_ {
      position: relative;
      display: block;
      width: 100%;

      h2 {
        position: relative;
        display: block;
        margin: 0;
        font-size: calc(var(--font-size) * 4.25);

        @media only screen and (max-width: 767px) {
          font-size: calc(var(--font-size) * 3.25);
        }

        span {
          position: relative;
          display: block;
          background: -webkit-linear-gradient(
            45deg,
            var(--primary-color),
            var(--secondary-color)
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transform: translateY(50%);
          opacity: 0;
          transition: all 0.6s var(--ease);
          line-height: 1.5;

          &:nth-child(1) {
            transition-delay: 0.2s;
          }
          &:nth-child(2) {
            transition-delay: 0.3s;
          }
          &:nth-child(3) {
            transition-delay: 0.4s;
          }
          &:nth-child(4) {
            transition-delay: 0.5s;
          }
        }
      }

      p {
        position: relative;
        display: block;
        font-size: calc(var(--font-size) * 1.2);
        line-height: 1.75;
        margin: 1.5em 0;
        transform: translateY(2.5rem);
        opacity: 0;
        transition: all 0.6s var(--ease) 0.4s;

        @media only screen and (min-width: 1200px) {
          padding-inline-end: 5%;
        }
      }

      .btn_group {
        transform: translateY(2.5rem);
        opacity: 0;
        transition: all 0.6s var(--ease) 0.6s;
        padding: 1.5em 0 1em;
      }
    }
  }

  .swiper-pagination {
    transform: translateY(2.5em);
    opacity: 0;
    transition: all 0.8s var(--ease) 1.3s;

    @media only screen and (max-width: 767px) {
      margin-top: 0;
      margin-bottom: 1em;
    }
  }

  .swiper-3d .swiper-cube-shadow,
  .swiper-3d .swiper-slide,
  .swiper-3d .swiper-slide-shadow,
  .swiper-3d .swiper-slide-shadow-bottom,
  .swiper-3d .swiper-slide-shadow-left,
  .swiper-3d .swiper-slide-shadow-right,
  .swiper-3d .swiper-slide-shadow-top,
  .swiper-3d .swiper-wrapper {
    transform-style: inherit;
  }
}

@keyframes clipMaskAnim {
  0% {
    clip-path: circle(0% at 61% 70%);
    opacity: 0.5;
  }
  100% {
    clip-path: circle(100% at 61% 70%);
    opacity: 0;
  }
}

@keyframes wave1 {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes wave2 {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0.95);
  }
}

@keyframes wave3 {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.section_ {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  padding-bottom: 7.5rem;
}

.legislation_wrapper {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 1.25em;

  .swiper-container {
    width: 100%;
  }

  .item_ {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 1.75rem;

    .link_ {
      position: relative;
      display: block;
      width: 100%;

      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #E5E5E5;
        border-radius: 0.75rem;
        border-radius: 0.75rem;
        z-index: 0;
        transform: translateY(9%) scale(0.9);
        transition: all 0.3s ease;
      }

      .image_box {
        position: relative;
        display: block;
        width: 100%;
        height: 0;
        padding-top: 115%;
        border-radius: 0.75rem;
        overflow: hidden;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: var(--primary-color);
          z-index: 3;
          opacity: 0;
          transition: all 0.3s ease;
        }

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0.9;
          background: var(--primary-color);
          background: linear-gradient(
            0deg,
            #000 0%,
            #00000000 100%
          );
          z-index: 4;
        }
      }

      .content_ {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        z-index: 5;
        padding: 1.5rem;
        transition: all 0.3s ease;
        transform: translateY(calc(100% - 5rem));

        h4 {
          position: relative;
          display: block;
          font-weight: 500;
          font-size: calc(var(--font-size) * 1.5);
          margin:0 0 1rem;
          color: var(--white-color);
        }

        p{
          position: relative;
          display: block;
          margin: 0 0 1rem;
          font-weight: 300;
          font-size: calc(var(--font-size) * 0.95);
          line-height: 1.75;
          color: var(--white-color);
          transition: all 0.3s ease;
          transform: translateY(2rem);
          opacity: 0;
        }

        .btn_group{
          transition: all 0.3s ease;
          transform: translateY(2rem);
          opacity: 0;
        }
      }

      &:hover {

        &:before{
          transform: translateY(7.5%) scale(0.9);
        }

        .image_box {
          &::before{
            opacity: 0.15;
          }
          .img_ {
            picture {
              transform: scale(1.05);
            }
          }
        }

        .content_{
          transform: none;

          p{
            transform: none;
            opacity: 1; 
            transition-delay: 0.1s;
          }

          .btn_group{
            transform: none;
            opacity: 1; 
            transition-delay: 0.2s;
          }
        }
      }
    }
  }

  .swiper-slide {
    height: auto;

    .t_animation {
      transform: translateY(100%);
    }

    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        .item_ {
          transition-delay: #{$i * 0.2s + 0.8s};
        }
      }
    }
  }

  .swiper-pagination {
    margin-top: 0;
    width: auto;
  }
}

.statistics_wrapper_new{
  position: relative;
  display: grid;
  width: 100%;
  padding: 6.5vw;
  background: var(--primary-color);
  background: linear-gradient(120deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  border-radius: 1.5rem;
  grid-template-columns: 30% calc(70% - 5vw);
  gap: 5vw;
  transform: translateY(3.5rem);
  opacity: 0;
  transition: all 1s var(--ease) 0.3s;

  @media only screen and (max-width: 1200px){
    padding: 2.5rem;
    grid-template-columns: 1fr;
  }

  @media only screen and (max-width: 767px){
    padding: 1.75rem;
  }

  .section_title{
    h2{
      color: var(--white-color);
    }
  }

  .text_area{
    *{
      color: var(--white-color);
    }
  }

  .number_wrapper{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5vw;

    .item_{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 2.5rem;
      transform: translateY(2.5rem);
      opacity: 0;
      transition: all 0.6s var(--ease);

      @for $i from 1 through 6{
        &:nth-child(#{$i}){
          transition-delay: #{$i * 0.2s + 0.6s};
        }
      }

      *{
        color: var(--white-color);
      }
    }

    .shape_{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;

      svg{
        position: relative;
        display: block;
        width: 67.5%;
        height: auto;
        transform: translateX(3%) translateY(-9%);

        @media only screen and (max-width: 767px){
          width: 80%;
          transform: none;
        }

      }
    }

    .content_{
      position: relative;
      display: block;

      h4{
        position: relative;
        display: block;
        margin: 0;
        font-size: calc(var(--font-size)*6);
        text-shadow: 5px 0px  rgba(172, 68, 89, 0.45);

        @media only screen and (max-width: 767px){
          font-size: calc(var(--font-size)*4.5);
        }

      }

      p{
        position: relative;
        display: block;
        margin: 0;
        font-size: calc(var(--font-size)*1.25);
        line-height: 1;
      }

    }
  }

}

.most_watched_wrapper {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 2.5rem;

  .swiper-slide {
    height: auto;
  }

  .m_item {
    position: relative;
    display: block;
    width: 100%;
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.8s var(--ease);
    height: 100%;
    .link_ {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
      padding-block: 3.5vw;
      padding-inline-start: 5vw;
      padding-inline-end: 2vw;

      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.1;
        transition: all 0.3s ease;
        background: rgb(172,68,89);
        background: linear-gradient(90deg, rgba(172,68,89,0) 0%, rgba(172,68,89,1) 80%);  
        border-radius: 0 12vw 12vw 0; 
      }

      .content_{
        position: relative;
        display: block;
        flex: 1;
        padding-bottom: 3rem;
        p{
          position: relative;
          display: block;
          margin: 0;
          font-size: calc(var(--font-size)*1);
          color: var(--text-color);
        }
      }

      .no_{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        width: 100%;
        border-top: 1px solid var(--primary-color);

        strong{
          position: relative;
          display: block;
          font-weight: bold;
          font-size: calc(var(--font-size)*3);
          background: -webkit-linear-gradient(
            45deg,
            var(--primary-color),
            var(--secondary-color)
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        span{
          position: relative;
          display: block;
          font-size: calc(var(--font-size)*1);
          color: var(--text-color);
        }
      }

      @media only screen and (max-width: 1200px){
        padding-block: 3rem;
        padding-inline-start: 4rem;
        padding-inline-end: 2rem;

        &:before{
          border-radius: 0 12rem 12rem 0;
        }

      }

      &:hover{
        &:before{
          opacity: 0.4;
        }
      }
    }

  }

  .swiper-slide {
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        .m_item {
          transition-delay: #{$i * 0.2s + 0.6s};
        }
      }
    }
  }
}

.gazette_wrapper{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  width: 100%;
  margin-top: 2.5rem;

  @media only screen and (max-width: 767px){
    grid-template-columns: 1fr;
  }

  .item_{
    position: relative;
    display: block;
    width: 100%;
    transform: translateY(3.5rem);
    transition: all 0.8s var(--ease);
    opacity: 0;

    @for $i from 1 through 4{
      &:nth-child(#{$i}){
        transition-delay: #{$i * 0.2s + 0.8s};
      }
    }

    .link_{
      position: relative;
      display: block;
      width: 100%;
      height: auto;
      overflow: hidden;
      border-radius: 1.5rem;
      padding: calc(var(--font-size)*4.5) 0 0;

      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #F8F1F2;
        transition: all 0.3s ease;
      }

      .image_box{
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        overflow: hidden;

        .img_{
          overflow: hidden;
          border: 1px solid #F8F1F2;
          width: 60%;
          left: 50%;
          transform: translateX(-50%);
          
          picture{
            transition: all 0.3s ease;
          }
        }

        .shape_{
          position: relative;
          display: block;
          width: 100%;
          z-index: 3;

          svg{
            position: relative;
            display: block;
            width: 100%;
            height: auto;

            path{
              fill: #F8F1F2;
              transition: all 0.3s ease;
            }
          }
        }

        .logo_holder{
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 0 calc(var(--font-size)*2.25);
          display: flex;
          align-items: center;
          justify-content: flex-start;
          z-index: 5;
          .logo_{
            position: relative;
            display: block;
            width: 6rem;
            height: 6rem;
            background-color: var(--white-color);
            border-radius: 50%;
            overflow: hidden;

            img{
              position: relative;
              display: block;
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

        }
      }

      .btn_group{
        padding: calc(var(--font-size)*2) calc(var(--font-size)*2.25);

      }

      .title_{
        position: relative;
        display: block;
        color: var(--text-color);
        p, h4{
          position: relative;
          display: block;
          margin: 0;
        }

        p{
          font-size: calc(var(--font-size)*1);
        }

        h4{
          font-size: calc(var(--font-size)*1.5);
        }
      }


      &:hover{
        &:before{
          background-color: #deb4bd;
        }

        .image_box{

          .img_{
            picture{
              transform: scale(1.1);
            }
          }
          .shape_{
            svg{
              path {
                fill: #deb4bd;
              }
            }
          }
        }
      }

    }

  }

}

.management_wrapper{
  position: relative;
  display: grid;
  grid-template-columns: calc(47.5% - 1.25rem) calc(52.5% - 1.25rem);
  gap: 2.5rem;
  margin-top: 2.5rem;

  @media only screen and (max-width: 767px){
    grid-template-columns: 100%;
  }

  .calendar_wrapper{
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: 1.5rem;
    background: var(--primary-color);
    background: linear-gradient(120deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    transform: translateY(3.5rem);
    transition: all 0.8s var(--ease) 1s;
    opacity: 0;
  
    .color-calendar{
      color: var(--white-color);
      width: 100%;
      background: none;
      
      .calendar__arrow-inner{
        transform: scaleX(-1);

        &:before{
          color: var(--white-color);
        }

        &:after{
          background-color: var(--white-color);
        }
      }

      .calendar__header{
        grid-template-columns: 3rem 1fr 3rem;

        .calendar__monthyear{
          grid-column: auto
        }

        .calendar__arrow{
          height: 3rem;
        }
      }

      .calendar__monthyear{
        color: var(--white-color);
      }

      .calendar__weekdays {
        grid-template-columns: repeat(7,1fr);
        .calendar__weekday{
          color: var(--white-color);
          height: 3rem;
          font-weight: 400;
        }
      }

      .calendar__days {
        grid-template-columns: repeat(7,1fr);
        grid-template-rows: repeat(6, 3rem);
        .calendar__day{
          font-weight: 400;
          position: relative;

        }

        .calendar__day-other{
          color: var(--white-color);
        }

        .calendar__day-today{
          color: var(--white-color);

          .calendar__day-box{
            background: none;
            color: var(--white-color);
            box-shadow: none;
          }
        }

        .calendar__day-selected {
          .calendar__day-box{
            background: none;
            box-shadow: none;
          }
        }

        .calendar__day-box{
          background: none;
          box-shadow: none;
          z-index: 3;
        }

        .calendar__day-event{
          color: var(--primary-color);
          font-weight: 600;
          z-index: 6;

          .calendar__day-bullet{
            background-color: var(--white-color);
            position: absolute;
            top: 50%;
            left: 50%;
            width: 2.25rem;
            height: 2.25rem;
            z-index: -1;
            border-radius: 50%;
            transform: translateX(-50%) translateY(-50%);
            pointer-events: none;

            &:before, &:after{
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: var(--white-color);
              border-radius: 50%;
              transition: all 0.5s ease 0s;
            }

            &:before{
              transform: scale(1.1);
              opacity: 0.3;
            }

            &:after{
              transform: scale(1.25);
              opacity: 0.45;
            }

            &:hover{
                &:before, &:after{
                  transform: scale(0);
                }
            }

          }

          

        }

        
      }
    }
  }

  .calendar_swiper{
    position: relative;
    display: block;
    width: 100%;
    transform: translateY(3.5rem);
    transition: all 0.8s var(--ease) 1.2s;
    opacity: 0;
  
    .swiper-pagination{
      justify-content: flex-start;
    }

    .swiper-container{
      width: 100%;
    }

    .item_{
      position: relative;
      display: block;
      padding: 2rem;
      overflow: hidden;
      border-radius: 1.5rem;

      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #F7F6F7;
      }

      .title_{
        position: relative;
        display: flex;
        align-items: center;

        &:before{
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          top: 55%;
          left: 0;
          background-color: var(--primary-color);
          transform: translateY(-50%);
        }

        h4{
          position: relative;
          display: block;
          margin: 0;
          color: var(--primary-color);
          font-size:  calc(var(--font-size)*1.5);
          background: #F7F6F7;
          padding-inline-end: 1rem;
        }
      }

      .text_area{
        position: relative;
        display: block;
        margin: 1rem 0 0.75rem;
      }

      .btn_group{
        margin-top: 2.5rem;
      }

    }
  }

}

.is-loaded { 
  &.init-delay {
    .home_banner {
      

      .banner_content {
        .content_ {
          h2 {
            span {
              &:nth-child(1) {
                transition-delay: 1s;
              }
              &:nth-child(2) {
                transition-delay: 1.1s;
              }
              &:nth-child(3) {
                transition-delay: 1.2s;
              }
              &:nth-child(4) {
                transition-delay: 1.3s;
              }
            }
          }

          p {
            transition-delay: 1.2s;
          }

          .btn_group {
            transition-delay: 1.4s;
          }
        }
      }
    }
  }
  .home_banner {
    .bg_layer {
      @include animate();
    }

    .swiper-pagination {
      @include animate();
    }

    .banner_image {
      .image_capsule_wrapper{
        .item_{
          @include animate();
        }
      }
    }

    .banner_content {
      .swiper-slide-active {
        .content_ {
          h2 {
            span {
              @include animate();
            }
          }

          p,
          .btn_group {
            @include animate();
          }
        }
      }
    }
  }

  .section_ {
    &.active-view {
      .section_title {
        h1,
        h2 {
          span {
            @include animate;
          }
        }
      }

      .t_animation {
        @include animate();
      }

      .statistics_wrapper_new{
        @include animate();

        .number_wrapper{
          .item_{
            @include animate();
          }
        }
      }

      .most_watched_wrapper {
        .m_item {
          @include animate();
        }
      }

      .gazette_wrapper{
        .item_{
          @include animate();
        }
      }

      .management_wrapper{
        .calendar_wrapper, .calendar_swiper{
          @include animate();
        }
      }
    }
  }
}


html[dir=ltr]{
  .home_banner {
    .banner_image {
      .image_capsule_wrapper {
        transform: translateX(-11.5%);
        .img_capsule, .placeholder_capsule{
          transform: rotate(-45deg);
        }
      }
    }
  }

  .management_wrapper {
    .calendar_wrapper {
      .color-calendar {
        .calendar__arrow-inner{
          transform: scaleX(1);
        }
      }
    }
  }

  .most_watched_wrapper {
    .m_item .link_:before {
      transform: scaleX(-1);
    }
  }
}


