@font-face {
    font-family: 'DIN Next LT Arabic';
    src: url('../fonts/din/DINNextLTArabic-Regular.woff2') format('woff2'),
        url('../fonts/din/DINNextLTArabic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next LT Arabic';
    src: url('../fonts/din/DINNextLTArabic-Bold.woff2') format('woff2'),
        url('../fonts/din/DINNextLTArabic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next LT Arabic';
    src: url('../fonts/din/DINNextLTArabic-Black.woff2') format('woff2'),
        url('../fonts/din/DINNextLTArabic-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next LT Arabic';
    src: url('../fonts/din/DINNextLTArabic-Medium.woff2') format('woff2'),
        url('../fonts/din/DINNextLTArabic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

